<li class="blog__item@@className">
    <a href="/article.html" class="blog__item-image">
        <img src="@@image" class="cover-image" alt="Постер">
    </a>
    <div class="blog__item-body">
        <div class="blog__item-categories">
            @@for(var i = 0; i < categories.length; i++) { <div class="blog__item-category">`+categories[i]+`</div>}
    </div>
    <a href="/article.html" class="blog__item-name">@@name</a>
    <p class="blog__item-desc">@@desc</p>
    <div class="blog__item-stats">
        <time datetime="@@datetime" class="blog__item-stat icon-date">@@time</time>
        <div class="blog__item-stat icon-views">@@views</div>
    </div>
    </div>
</li>