<div class="case swiper-slide">
    <div class="case__header">
        <h3 class="case__title">@@name</h3>
        <div class="case__location icon-location-fill">@@location</div>
    </div>
    <ul class="case__list">
        <li class="case__item">
            <div class="case__item-icon">
                <img src="@img/cases/home.svg" alt="Иконка">
            </div>
            <div class="case__item-body">
                <div class="case__item-caption">Объект:</div>
                <div class="case__item-desc">@@object</div>
            </div>
        </li>
        <li class="case__item">
            <div class="case__item-icon">
                <img src="@img/cases/wallet.svg" alt="Иконка">
            </div>
            <div class="case__item-body">
                <div class="case__item-caption">Сумма инвестиций:</div>
                <div class="case__item-desc">@@sum</div>
            </div>
        </li>
        <li class="case__item">
            <div class="case__item-icon">
                <img src="@img/cases/percent.svg" alt="Иконка">
            </div>
            <div class="case__item-body">
                <div class="case__item-caption">Ставка:</div>
                <div class="case__item-desc">@@rate</div>
            </div>
        </li>
        <li class="case__item">
            <div class="case__item-icon">
                <img src="@img/cases/event.svg" alt="Иконка">
            </div>
            <div class="case__item-body">
                <div class="case__item-caption">Срок:</div>
                <div class="case__item-desc">@@term</div>
            </div>
        </li>
        <li class="case__item">
            <div class="case__item-icon">
                <img src="@img/cases/credit-card.svg" alt="Иконка">
            </div>
            <div class="case__item-body">
                <div class="case__item-caption">Доход инвестора:</div>
                <div class="case__item-desc case__item-desc--large">@@income</div>
            </div>
        </li>
    </ul>
    <div class="case__hint">
        @@hint
    </div>
</div>