<div class="project">
    <div class="project__slider swiper">
        <div class="swiper-wrapper">
            <div class="project__slide swiper-slide">
                <img src="@img/projects/@@init.png" class="cover-image" alt="Фото проекта">
            </div>
            <div class="project__slide swiper-slide">
                <img src="@img/projects/01.jpg" class="cover-image" alt="Фото проекта">
            </div>
            <div class="project__slide swiper-slide">
                <img src="@img/projects/04.png" class="cover-image" alt="Фото проекта">
            </div>
            <div class="project__slide swiper-slide">
                <img src="@img/projects/05.png" class="cover-image" alt="Фото проекта">
            </div>
            <div class="project__slide swiper-slide">
                <img src="@img/projects/06.png" class="cover-image" alt="Фото проекта">
            </div>
            <div class="project__slide swiper-slide">
                <img src="@img/projects/07.png" class="cover-image" alt="Фото проекта">
            </div>
            <div class="project__slide swiper-slide">
                <img src="@img/projects/08.png" class="cover-image" alt="Фото проекта">
            </div>
        </div>
    </div>
    <div class="project__body">
        <div class="project__tags">
            <div class="project__tag project__tag--primary">S=500 м2</div>
            <div class="project__tag project__tag--sea-mint">2024 год</div>
            <div class="project__tag">Ростов-на-Дону</div>
        </div>
        <div class="project__bottom">
            <div class="project__thumbs swiper">
                <div class="swiper-wrapper">
                    <div class="project__thumb swiper-slide">
                        <img src="@img/projects/@@init.png" class="cover-image" alt="Фото проекта">
                    </div>
                    <div class="project__thumb swiper-slide">
                        <img src="@img/projects/01.jpg" class="cover-image" alt="Фото проекта">
                    </div>
                    <div class="project__thumb swiper-slide">
                        <img src="@img/projects/04.png" class="cover-image" alt="Фото проекта">
                    </div>
                    <div class="project__thumb swiper-slide">
                        <img src="@img/projects/05.png" class="cover-image" alt="Фото проекта">
                    </div>
                    <div class="project__thumb swiper-slide">
                        <img src="@img/projects/06.png" class="cover-image" alt="Фото проекта">
                    </div>
                    <div class="project__thumb swiper-slide">
                        <img src="@img/projects/07.png" class="cover-image" alt="Фото проекта">
                    </div>
                    <div class="project__thumb swiper-slide">
                        <img src="@img/projects/08.png" class="cover-image" alt="Фото проекта">
                    </div>
                </div>
            </div>
            <div class="project__controls">
                <button type="button" class="project__controls-prev swiper-button-prev"></button>
                <button type="button" class="project__controls-next swiper-button-next"></button>
            </div>
        </div>
    </div>
    <div class="project__side">
        <h3 class="project__title title-sm-desktop subtitle">Строительство дома «под ключ» Проект «Ривьера House»</h3>
        <p class="project__desc">Наш новый проект сочетает в себе два противоположных стиля — лофт и нео-классику. Дом получился по-настоящему необычным: в нем практически нет прямоугольных</p>
        <a href="" class="project__btn btn icon-emblem-up">Перейти к проекту</a>
    </div>
</div>