<li class="review">
    <div class="review__header">
        <div class="review__name">Виктор Олегович</div>
        <time datetime="2024-03-05" class="review__time icon-calendar">05.03.2024</time>
    </div>
    <div class="review__rate">
        <div class="review__star icon-star"></div>
        <div class="review__star icon-star"></div>
        <div class="review__star icon-star"></div>
        <div class="review__star icon-star"></div>
        <div class="review__star icon-star"></div>
    </div>
    <blockquote class="review__quote">
        Обращался в "Достояние Финанс" за займом под залог своей квартиры и остался очень доволен! Буквально за день оформили все документы, никаких лишних справок не требовали - только паспорт и документы на жилье. Деньги перевели уже на следующий день после одобрения, что для меня было критично, так как срочно нужны были...
    </blockquote>
    <a href="" class="review__more">Читать полностью...</a>
</li>