@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Steppe";
  font-display: swap;
  src: url("../fonts/Steppe-Regular.woff2") format("woff2"), url("../fonts/Steppe-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "AeonikPro";
  font-display: swap;
  src: url("../fonts/AeonikPro-Regular.woff2") format("woff2"), url("../fonts/AeonikPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
.prices__case-list li::before, .swiper-button-next, .swiper-button-prev, .breadcrumbs__item:not(:last-child)::before, [class^=icon-]:before,
[class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: never;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=icon-]:before,
[class*=" icon-"]:before {
  display: block;
}

.icon-star:before {
  content: "\e912";
}

.icon-check-mark:before, .prices__case-list li:before {
  content: "\e900";
}

.icon-chevron-down:before {
  content: "\e901";
}

.icon-chevron-left:before, .swiper-button-prev:before {
  content: "\e902";
}

.icon-chevron-right:before, .swiper-button-next:before {
  content: "\e903";
}

.icon-chevron-up:before {
  content: "\e904";
}

.icon-cross:before {
  content: "\e905";
}

.icon-date:before {
  content: "\e906";
}

.icon-emblem-down:before {
  content: "\e907";
}

.icon-emblem-right:before, .breadcrumbs__item:not(:last-child):before {
  content: "\e908";
}

.icon-emblem-up:before {
  content: "\e909";
}

.icon-featrures-furniture:before {
  content: "\e90a";
}

.icon-features-3d:before {
  content: "\e90b";
}

.icon-features-calendar:before {
  content: "\e90c";
}

.icon-features-check:before {
  content: "\e90d";
}

.icon-features-deal:before {
  content: "\e90e";
}

.icon-features-planning:before {
  content: "\e90f";
}

.icon-features-shield:before {
  content: "\e910";
}

.icon-features-team:before {
  content: "\e911";
}

.icon-minus:before {
  content: "\e913";
}

.icon-phone:before {
  content: "\e914";
}

.icon-pin:before {
  content: "\e915";
}

.icon-plus:before {
  content: "\e916";
}

.icon-telegram:before {
  content: "\e917";
}

.icon-viber:before {
  content: "\e918";
}

.icon-views:before {
  content: "\e919";
}

.icon-whatsapp:before {
  content: "\e91a";
}

/* Display (48) */
/* Title (44) */
/* Title (36) */
/* Title (32) */
/* Subtitle (26) */
/* Subtitle (20) */
.title-xl {
  font-family: "Steppe";
  line-height: 116.667%;
  letter-spacing: -0.18rem;
  font-size: 3rem;
}

.title {
  font-family: "Steppe";
  font-size: 2.75rem;
  line-height: 118.182%;
  letter-spacing: -0.165rem;
}

.title-lg {
  font-family: "Steppe";
  font-size: 2.25rem;
  line-height: 122.222%;
  letter-spacing: -0.135rem;
}

.title-md {
  font-family: "Steppe";
  font-size: 2rem;
  line-height: 125%;
  letter-spacing: -0.12rem;
}

.title-sm {
  font-family: "Steppe";
  font-size: 1.625rem;
  line-height: 123.077%;
  letter-spacing: -0.0975rem;
}

.subtitle {
  line-height: 140%;
  font-size: 1.25rem;
}

@media (min-width: 1023.98px) {
  .title-xl-desktop {
    font-family: "Steppe";
    line-height: 116.667%;
    letter-spacing: -0.18rem;
    font-size: 3rem;
  }
}

@media (min-width: 1023.98px) {
  .title-desktop {
    font-family: "Steppe";
    font-size: 2.75rem;
    line-height: 118.182%;
    letter-spacing: -0.165rem;
  }
}

@media (min-width: 1023.98px) {
  .title-md-desktop {
    font-family: "Steppe";
    font-size: 2rem;
    line-height: 125%;
    letter-spacing: -0.12rem;
  }
}

@media (min-width: 1023.98px) {
  .title-lg-desktop {
    font-family: "Steppe";
    font-size: 2.25rem;
    line-height: 122.222%;
    letter-spacing: -0.135rem;
  }
}

@media (min-width: 1023.98px) {
  .title-sm-desktop {
    font-family: "Steppe";
    font-size: 1.625rem;
    line-height: 123.077%;
    letter-spacing: -0.0975rem;
  }
}

@media (min-width: 1023.98px) {
  .subtitle-desktop {
    line-height: 140%;
    font-size: 1.25rem;
  }
}

.color-primary {
  color: #04181e;
}

.fancybox__container {
  max-width: 100% !important;
  padding: 0 !important;
}

.fancybox__slide {
  padding: 0;
}
@media (min-width: 575.98px) {
  .fancybox__slide {
    padding: 1.25rem;
  }
}

.fancybox__backdrop {
  background: rgba(30, 30, 30, 0.4);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
}

.fancybox__content {
  color: inherit;
  background: none;
  padding: 0;
}

.fancybox__content :focus:not(.carousel__button.is-close) {
  outline: none;
}

.popup {
  position: relative;
  display: none;
  width: 100%;
  max-width: 41.875rem;
  background: #fff;
  color: #04181e;
  border-radius: 0.75rem;
  padding: 1.875rem 0.625rem;
}
@media (min-width: 767.98px) {
  .popup {
    padding: 1.875rem 2.5rem;
  }
}
.popup__close {
  position: absolute;
  top: 0.63rem;
  right: 0.63rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.3s ease 0s;
  color: #04181e;
}
@media (any-hover: hover) {
  .popup__close:hover {
    color: #115268;
  }
}
.popup__title {
  text-align: center;
}
.popup__subtitle {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
}
.popup__form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.range__caption {
  position: relative;
  z-index: 1;
}
.range__input {
  -webkit-appearance: none;
  background-color: transparent;
  padding: 0;
  width: 100%;
  opacity: 1;
}
.range__input::-webkit-slider-thumb {
  position: relative;
  z-index: 1;
  -webkit-appearance: none;
  border-radius: 50%;
  cursor: pointer;
  width: 1.875rem;
  height: 1.875rem;
  background: #4d894a;
  border: 0rem solid rgba(64, 111, 61, 0.3);
  margin-top: -0.6875rem;
  box-shadow: inset 0 0 0 0.5625rem #fff, 0 0 0 0.1875rem rgba(64, 111, 61, 0.3);
}
.range__input::-moz-range-thumb {
  position: relative;
  z-index: 1;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  box-shadow: inset 0 0 0 0.5625rem #fff, 0 0 0 0.1875rem rgba(64, 111, 61, 0.3);
  width: 1.875rem;
  height: 1.875rem;
  background: #4d894a;
  border: 0rem solid rgba(64, 111, 61, 0.3);
}
.range__input::-ms-thumb {
  position: relative;
  z-index: 1;
  display: inline-block;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  box-shadow: inset 0 0 0 0.5625rem #fff, 0 0 0 0.1875rem rgba(64, 111, 61, 0.3);
  width: 1.875rem;
  height: 1.875rem;
  background: #4d894a;
  border: 0rem solid rgba(64, 111, 61, 0.3);
  margin-top: 5px;
}
.range__input::-webkit-slider-runnable-track {
  border-color: transparent;
  color: transparent;
  height: 9px;
  background: #e0e0e0;
  border-radius: 0.625rem;
  border-radius: 10;
}
.range__input::-moz-range-track {
  height: 9px;
  background: #e0e0e0;
  border-radius: 0.625rem;
  border-radius: 10;
}
.range__input::-ms-track {
  border-color: transparent;
  color: transparent;
  height: 9px;
  background: #e0e0e0;
  border-radius: 0.625rem;
  border-radius: 10;
}
.range__input::-ms-fill-lower {
  background: #406f3d;
  border-radius: 10;
}
.range__input::-moz-range-progress {
  background: #406f3d;
  height: 0.5625rem;
  border: 0;
  border-radius: 0.625rem;
}
.range__input::-ms-tooltip {
  display: none;
}
.range__input:disabled {
  cursor: default;
  pointer-events: none;
}
.range__input::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 0.5625rem;
  width: var(--precent, 0%);
  border-radius: 0.625rem 0 0 0.625rem;
  background: #406f3d;
}
.range__list {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  color: #9299b5;
  font-size: 1.11794rem;
  font-weight: 400;
}

.breadcrumbs {
  padding: 1.5rem 0;
}
.breadcrumbs__list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  color: #94a3a8;
  font-size: 0.875rem;
  line-height: 114.286%;
}
.breadcrumbs__item {
  display: flex;
  align-items: center;
}
.breadcrumbs__item:not(:last-child)::before {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #89c1bd;
  order: 1;
}
.breadcrumbs__link {
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .breadcrumbs__link:hover {
    color: #04181e;
  }
}
.breadcrumbs__link.active {
  color: #04181e;
  pointer-events: none;
}

.color-accent {
  color: #115268;
}

.fw-medium {
  font-weight: 500;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #115268;
  border-radius: 0.5rem;
}
@media (any-hover: hover) {
  ::-webkit-scrollbar-thumb:hover {
    background: #0a2f3c;
  }
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form__row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@media (min-width: 575.98px) {
  .form__row {
    flex-direction: row;
  }
}
.form__control {
  text-overflow: ellipsis;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  line-height: 125%;
  background: #f8f8f8;
  color: #04181e;
}
.form__control.form__control--dark {
  background: rgba(255, 255, 255, 0.16);
  color: #fff;
}
.form__control.form__control--dark::placeholder {
  color: #94a3a8;
}
.form__control.form__control--dark:hover {
  background: rgba(255, 255, 255, 0.24);
}
.form__control.form__control--dark:focus {
  color: #fff;
  background: rgba(255, 255, 255, 0.24);
  outline: 0.0625rem solid #fff;
}
.form__control::placeholder {
  opacity: 1;
  color: #516a72;
}
.form__control:hover {
  background: #ebebeb;
}
.form__control:focus {
  color: #04181e;
  background: #ebebeb;
  outline: 0.0625rem solid #89c1bd;
}
.form__control:disabled {
  opacity: 0.24;
}
.form__control._error {
  outline: 0.0625rem solid #da2800;
  background: #ebebeb;
}
.form__control._error::placeholder {
  color: #da2800;
}
.form__control:is(textarea) {
  height: 9rem;
  resize: none;
}
.form__privacy {
  color: #94a3a8;
  font-size: 0.875rem;
  line-height: 157.143%;
}
.form__privacy a {
  color: #04181e;
}
@media (any-hover: hover) {
  .form__privacy a:hover {
    text-decoration: underline;
  }
}

.btn {
  cursor: pointer;
  position: relative;
  z-index: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  user-select: none;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  font-size: 1rem;
  line-height: 125%;
  padding: 1rem 1.5rem;
}
.btn::before {
  width: 1.25rem;
  height: 1.25rem;
  font-size: 1.25rem;
  order: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.btn:focus-visible {
  box-shadow: 0 0 0.0625rem 0.0625rem #04181e;
}
.btn.btn-primary {
  background: #115268;
  color: #fff;
}
.btn.btn-primary:hover, .btn.btn-primary:active {
  background: #157291;
}
.btn.btn-secondary {
  background: #ebebeb;
  color: #04181e;
}
.btn.btn-secondary::before {
  color: #115268;
}
.btn.btn-secondary:hover, .btn.btn-secondary:active {
  background: #cbdfe7;
}
.btn.btn-tertiary {
  background: #fff;
  color: #04181e;
}
.btn.btn-tertiary::before {
  color: #115268;
}
.btn.btn-tertiary:hover, .btn.btn-tertiary:active {
  color: #115268;
}
.btn.btn-sm {
  padding: 0.75rem 1.5rem;
}
.btn.btn-fullwidth {
  width: 100%;
  padding-inline: 1rem;
}
.btn:disabled, .btn[aria-disabled=true] {
  background: #ebebeb;
  color: #94a3a8;
}
.btn:disabled::before, .btn[aria-disabled=true]::before {
  color: #115268;
}
.btn.filter-btn {
  width: fit-content;
  background: #f8f8f8;
  border: 0.0625rem solid #e4e4e4;
}
.btn.filter-btn:not(:last-child) {
  border-right: 0;
  border-right-color: #f8f8f8;
}
.btn.filter-btn:not(:first-child) {
  border-left: 0;
  border-left-color: #f8f8f8;
}
.btn.filter-btn:hover, .btn.filter-btn:active, .btn.filter-btn.active {
  background: #ebebeb;
  color: #157291;
}

.filters {
  overflow: visible;
}
@media (min-width: 767.98px) {
  .filters {
    max-width: 100%;
  }
}

.iti__selected-flag {
  background-color: rgba(0, 0, 0, 0.05);
}

.select {
  position: relative;
}
.select select {
  appearance: none;
  background: transparent;
  border: 0.0625rem solid #115268;
  border-radius: 0.375rem;
  color: #04181e;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  display: block;
  font-size: 1rem;
  font-weight: 500;
  height: 100%;
  outline: none;
  padding: 1em 2.3125em 1em 1.4375em;
  width: 100%;
}

body {
  font-family: "AeonikPro", sans-serif;
  font-size: 1rem;
  min-width: 20rem;
  min-height: 100%;
  line-height: normal;
  color: #04181e;
  background-color: #f8f8f8;
  margin-right: 0 !important;
}
@media (max-width: 1023.98px) {
  body:has(.header.open-menu) {
    overflow: hidden;
  }
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: clip;
}

.page {
  flex: 1 1 auto;
}

[class*=__container] {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 1rem;
}
@media (min-width: 575.98px) {
  [class*=__container] {
    box-sizing: content-box;
    max-width: 33.75rem;
  }
}
@media (min-width: 767.98px) {
  [class*=__container] {
    max-width: 45rem;
  }
}
@media (min-width: 1023.98px) {
  [class*=__container] {
    max-width: 60rem;
  }
}
@media (min-width: 1279.98px) {
  [class*=__container] {
    max-width: 71.25rem;
  }
}
@media (min-width: 1399.98px) {
  [class*=__container] {
    max-width: 84.5rem;
  }
}

.swiper-button-next,
.swiper-button-prev {
  position: relative;
  left: auto;
  right: auto;
  bottom: auto;
  top: auto;
  margin: 0;
  transform: none;
  transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
  z-index: 2;
  width: 3.25rem;
  height: 3.25rem;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.16);
  color: #f8f8f8;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
.swiper-button-next.swiper-button-dark,
.swiper-button-prev.swiper-button-dark {
  background: #ebebeb;
  color: #115268;
}
@media (any-hover: hover) {
  .swiper-button-next.swiper-button-dark:hover,
  .swiper-button-prev.swiper-button-dark:hover {
    background: #cbdfe7;
  }
}
.swiper-button-next:disabled, .swiper-button-next.swiper-button-disabled, .swiper-button-next[aria-disabled=true],
.swiper-button-prev:disabled,
.swiper-button-prev.swiper-button-disabled,
.swiper-button-prev[aria-disabled=true] {
  pointer-events: none;
  opacity: 0.4;
}
.swiper-button-next.swiper-button-lock,
.swiper-button-prev.swiper-button-lock {
  display: none;
}
@media (any-hover: hover) {
  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    background: rgba(255, 255, 255, 0.36);
  }
}

.swiper-button-next::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
  opacity: 0.32;
  background: #fff;
  transform: scale3d(0, 1, 1);
  transform-origin: left;
  will-change: transform;
  z-index: -1;
  display: block;
}
.swiper-button-next.swiper-button-dark::after {
  opacity: 0.16;
  background: #115268;
}
.swiper-button-next.counting::after {
  animation: countingBar var(--counting-speed, 8.8s) linear forwards;
}
@keyframes countingBar {
  0% {
    transform: scale3d(0, 1, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

.banner {
  padding: 2.5rem 0 0;
  background: #fff;
}
@media (min-width: 1023.98px) {
  .banner {
    padding: 4.5rem 0 0;
  }
}
.banner__content {
  background-color: #062935;
  color: #fff;
  text-align: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1352' height='248' viewBox='0 0 1352 248' fill='none'%3E%3Cpath d='M1352 0L-0.999979 248M1352 0H675.5M1352 0V124M-0.999979 248H675.5M-0.999979 248V124M675.5 248H1352V124M675.5 248V0M675.5 248L1352 124M675.5 0H-0.999979V124M675.5 0L-0.999979 124M-0.999979 124H1352' stroke='white' stroke-opacity='0.16'/%3E%3C/svg%3E");
  background-size: auto 100%;
  background-position: center;
  padding: 1.5rem;
}
@media (min-width: 575.98px) {
  .banner__content {
    padding: 2.5rem;
  }
}
@media (min-width: 1023.98px) {
  .banner__content {
    padding: 4rem;
  }
}
.banner__btn {
  margin-top: 1.5rem;
}

.header {
  background: #fff;
  padding: 1rem 0;
  position: relative;
}
.header.open-menu::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f8f8f8;
  z-index: 11;
}
@media (min-width: 767.98px) {
  .header.open-menu::before {
    display: none;
  }
}
.header__container {
  max-width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.header__logo {
  width: 7.3125rem;
  flex-shrink: 0;
  position: relative;
  z-index: 11;
}
.header__location {
  display: none;
}
@media (min-width: 1023.98px) {
  .header__location {
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 0.5rem;
    color: #516a72;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
  }
  .header__location::before {
    width: 1.25rem;
    height: 1.25rem;
    flex-shrink: 0;
    font-size: 1.25rem;
    color: #89c1bd;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1399.98px) {
  .header__location {
    margin-left: 2.5rem;
  }
}
.header__phone {
  position: relative;
  z-index: 11;
  flex-shrink: 0;
  margin-left: auto;
}
.header__phone.btn.btn-sm {
  padding: 0.75rem;
}
@media (min-width: 1023.98px) {
  .header__phone.btn.btn-sm {
    padding: 0.75rem 1.5rem;
  }
}
@media (min-width: 1023.98px) {
  .header__phone::before {
    display: none;
  }
}
.header__phone span {
  display: none;
}
@media (min-width: 1023.98px) {
  .header__phone span {
    display: inline;
  }
}
.header__btn {
  display: none;
}
@media (min-width: 575.98px) {
  .header__btn {
    flex-shrink: 0;
    position: relative;
    z-index: 11;
    display: flex;
  }
}

.menu {
  background: #fff;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow-x: hidden;
  overflow-y: auto;
  transition: transform 0.3s ease 0s;
  transform: translateX(100%);
  padding: 6.5rem 1rem 1rem;
}
@media (max-width: 767.98px) {
  .menu.first-menu-open .menu__link,
  .menu.first-menu-open .menu__arrow {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .menu.second-menu-open .submenu__link,
  .menu.second-menu-open .submenu__arrow {
    display: none;
  }
}
.header.open-menu .menu {
  transform: translateX(0);
}
@media (min-width: 1023.98px) {
  .header.open-menu .menu {
    transform: none;
  }
}
@media (min-width: 767.98px) {
  .menu {
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    padding: 0;
    transition: none;
    overflow-x: visible;
    overflow-y: visible;
    flex-direction: row;
    align-items: center;
    display: flex;
    transform: none;
    flex: 0 1 25.125rem;
    margin: 0 auto;
  }
}
@media (min-width: 1399.98px) {
  .menu {
    margin-left: 2rem;
  }
}
.menu__body {
  flex: 1 1 auto;
}
@media (max-width: 767.98px) {
  .menu__body {
    max-width: 45rem;
    width: 100%;
    margin: 0 auto;
  }
}
.menu__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}
@media (min-width: 767.98px) {
  .menu__header {
    display: none;
  }
}
.menu__back {
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  line-height: 125%;
}
.menu__back::before {
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #115268;
}
.menu__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-start;
  margin-top: 1.5rem;
}
@media (min-width: 767.98px) {
  .menu__list {
    margin-top: 0;
    gap: 0.5rem;
    flex-direction: row;
    justify-content: space-between;
  }
}
.menu__item {
  display: flex;
  align-items: center;
}
.menu__item.menu-parent {
  position: relative;
  display: flex;
  align-items: center;
}
.menu__item.menu-parent .menu__link {
  padding-right: 1.25rem;
  margin-right: -1.25rem;
}
@media (min-width: 1399.98px) {
  .menu__item.menu-parent .menu__link {
    padding-right: 2.75rem;
    margin-right: -1.5rem;
  }
}
@media (any-hover: hover) {
  .menu__item.menu-parent:hover {
    color: #115268;
  }
}
@media (any-hover: hover) and (min-width: 1023.98px) {
  .menu__item.menu-parent:hover .submenu {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
}
@media (any-hover: hover) and (min-width: 767.98px) {
  .menu__item.menu-parent:hover .menu__arrow::before {
    transform: rotate(180deg);
  }
}
.menu__item.menu-parent.active .menu__link {
  color: #115268;
}
.menu__item.menu-parent.active .menu__link + .menu__arrow {
  color: #115268;
}
.menu__link {
  display: inline-block;
  transition: color 0.3s ease 0s;
  line-height: 125%;
  padding: 0.75rem 0;
}
@media (min-width: 767.98px) {
  .menu__link {
    flex: 0 1 auto;
    padding: 0.75rem 0.5rem;
  }
}
@media (min-width: 1399.98px) {
  .menu__link {
    padding: 0.75rem 1.5rem;
  }
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #115268;
  }
}
.menu__arrow {
  order: 1;
  display: flex;
  align-items: center;
  color: currentColor;
  width: 1.25rem;
  height: 1.25rem;
  font-size: 1.25rem;
  flex-shrink: 0;
}
@media (min-width: 1399.98px) {
  .menu__arrow {
    transform: translateX(-100%);
  }
}
.menu__arrow::before {
  order: 1;
  transition: transform 0.3s ease 0s;
  transform: rotate(-90deg);
}
@media (min-width: 767.98px) {
  .menu__arrow::before {
    transform: none;
  }
}
.menu__arrow.active::before {
  transform: rotate(180deg);
}
.menu__location {
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 0.5rem;
  color: #516a72;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
.menu__location::before {
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;
  font-size: 1.25rem;
  color: #89c1bd;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 767.98px) {
  .menu__location {
    display: none;
  }
}
.menu__bottom {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@media (min-width: 767.98px) {
  .menu__bottom {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .submenu {
    display: none;
  }
  .submenu.open {
    display: block;
  }
}
@media (min-width: 767.98px) {
  .submenu {
    padding-top: 1rem;
    top: 100%;
    left: -3.75rem;
    position: absolute;
    color: #04181e;
    z-index: 11;
    width: 100%;
    transform-origin: center top;
    transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
    min-width: 20rem;
    will-change: transform;
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0, -0.4375rem, 0);
  }
  .submenu::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 1rem);
    background: #fff;
  }
}
@media (min-width: 767.98px) and (min-width: 1279.98px) {
  .submenu {
    left: -0.5rem;
  }
}
@media (min-width: 767.98px) and (hover: none) {
  .submenu.open {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
}
.submenu__list {
  color: #04181e;
}
@media (min-width: 767.98px) {
  .submenu__list {
    position: relative;
    padding: 1rem;
  }
}
.submenu__item:not(:last-child) {
  margin-bottom: 0.5rem;
}
.submenu__item.submenu-parent {
  display: flex;
  align-items: center;
}
.submenu__item.submenu-parent .submenu__link {
  padding-right: 0;
}
@media (any-hover: hover) {
  .submenu__item.submenu-parent:hover {
    margin-right: -1rem;
  }
  .submenu__item.submenu-parent:hover .submenu__link,
  .submenu__item.submenu-parent:hover .submenu__arrow {
    color: #115268;
  }
}
@media (any-hover: hover) and (min-width: 1023.98px) {
  .submenu__item.submenu-parent:hover .subsubmenu {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
}
.submenu__item.submenu-parent.active .submenu__link,
.submenu__item.submenu-parent.active .submenu__arrow {
  color: #115268;
}
.submenu__arrow {
  order: 1;
  display: flex;
  align-items: center;
  color: currentColor;
  width: 1.25rem;
  height: 1.25rem;
  font-size: 1.25rem;
  flex-shrink: 0;
}
.submenu__arrow::before {
  order: 1;
  transform: rotate(-90deg);
  transition: transform 0.3s ease 0s;
}
.submenu__link {
  display: inline-block;
  line-height: 125%;
  transition: color 0.3s ease;
  padding: 0.75rem 0rem;
}
@media (min-width: 767.98px) {
  .submenu__link {
    padding: 0.75rem 1rem;
  }
}
@media (any-hover: hover) {
  .submenu__link:hover {
    color: #115268;
  }
}

@media (max-width: 767.98px) {
  .subsubmenu {
    display: none;
  }
  .subsubmenu.open {
    display: block;
  }
}
@media (min-width: 767.98px) {
  .subsubmenu {
    position: absolute;
    top: 0;
    left: 100%;
    background: #fff;
    padding: 1rem 0;
    min-width: 21.875rem;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    transform-origin: left center;
    transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
    opacity: 0;
    visibility: hidden;
    transform: translate3d(-0.4375rem, 0, 0);
  }
}
@media (hover: none) {
  .subsubmenu.open {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
}
.subsubmenu__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (min-width: 767.98px) {
  .subsubmenu__list {
    flex: 1 1 auto;
    border-left: 0.0625rem solid #e4e4e4;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.subsubmenu__link {
  padding: 0.75rem 0;
  display: inline-block;
  line-height: 125%;
  transition: color 0.3s ease;
}
@media (min-width: 767.98px) {
  .subsubmenu__link {
    padding: 0.75rem 1rem;
  }
}
@media (any-hover: hover) {
  .subsubmenu__link:hover {
    color: #115268;
  }
}

.icon-menu {
  flex-shrink: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  justify-content: center;
  padding: 0;
  order: 1;
  z-index: 11;
  height: 2.75rem;
  min-width: 2.75rem;
  color: #115268;
  padding: 0.75rem;
}
@media (min-width: 767.98px) {
  .icon-menu {
    display: none;
  }
}
.icon-menu span {
  display: block;
  padding: 0.1875rem 0rem;
  width: 100%;
  transition: transform 0.4s ease 0.4s, opacity 0.4s ease 0.4s;
  will-change: transform;
}
.icon-menu span::before {
  content: "";
  display: block;
  height: 0.125rem;
  width: 100%;
  margin-left: auto;
  background: currentColor;
  transition: transform 0.3s ease 0s;
  will-change: transform;
}
.header.open-menu .icon-menu span {
  transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
}
.header.open-menu .icon-menu span::before {
  transition: transform 0.45s ease 0.35s, width 0.3s ease 0s;
  width: 90%;
}
.header.open-menu .icon-menu span:first-child {
  transform: translateY(0.25rem);
}
.header.open-menu .icon-menu span:first-child::before {
  transform: rotate(-135deg);
}
.header.open-menu .icon-menu span:nth-child(2) {
  transform: translateY(-0.25rem);
}
.header.open-menu .icon-menu span:nth-child(2)::before {
  transform: rotate(-225deg);
}

.footer {
  padding: 5.5rem 0 2.25rem;
  background: #fff;
}
@media (min-width: 1023.98px) {
  .footer {
    padding: 9rem 0 2.75rem;
  }
}
.footer__header {
  display: grid;
  gap: 2.25rem;
}
@media (min-width: 1023.98px) {
  .footer__header {
    grid-template-columns: repeat(3, 1fr);
  }
}
.footer__main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}
.footer__desc {
  color: #516a72;
  font-size: 0.875rem;
  line-height: 157.143%;
}
.footer__rate {
  margin-top: auto;
  border: 0.0625rem solid #e4e4e4;
  padding: 0.75rem;
}
.footer__rate-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.footer__rate-icon {
  width: 2.25rem;
  height: 2.25rem;
  flex-shrink: 0;
}
.footer__rate-stars {
  display: flex;
  gap: 0.25rem;
  margin-left: auto;
}
.footer__rate-subtitle {
  margin-top: 0.5rem;
  color: #516a72;
  font-size: 0.875rem;
  line-height: 114.286%;
}
.footer__body {
  display: grid;
  gap: 2.25rem;
}
@media (min-width: 575.98px) {
  .footer__body {
    grid-column: span 2;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 767.98px) {
  .footer__body {
    grid-template-columns: repeat(2, 1fr) auto;
  }
}
.footer__menu {
  flex: 1 1 auto;
}
.footer__menu-list {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 0.0625rem solid #e4e4e4;
  color: #516a72;
  font-size: 1rem;
  line-height: 125%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}
.footer__menu-link {
  transition: color 0.3s ease;
}
@media (any-hover: hover) {
  .footer__menu-link:hover {
    color: #115268;
  }
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 13.125rem;
}
.footer__phone {
  font-family: "Steppe";
  font-size: 1.625rem;
  line-height: 123.077%;
  letter-spacing: -0.0975rem;
  white-space: nowrap;
  transition: color 0.3s ease;
}
@media (any-hover: hover) {
  .footer__phone:hover {
    color: #115268;
  }
}
.footer__socials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.25rem;
}
.footer__social {
  background: #ebebeb;
  color: #115268;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  padding: 0.5rem;
  transition: background-color 0.3s ease;
}
.footer__social:hover, .footer__social:active {
  background: #cbdfe7;
}
.footer__bottom {
  margin-top: 2.75rem;
}
.footer__bottom-info {
  color: #94a3a8;
  font-size: 0.75rem;
  line-height: 166.667%;
}
.footer__policy {
  margin-top: 2.75rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2.25rem;
  row-gap: 1rem;
  color: #516a72;
  font-size: 0.875rem;
  line-height: 114.286%;
}
@media (any-hover: hover) {
  .footer__policy-link:hover {
    text-decoration: underline;
  }
}

.promo {
  position: relative;
  color: #fff;
  background: rgba(0, 0, 0, 0.32);
  z-index: 1;
}
.promo__slider {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.promo__slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.32);
  z-index: 2;
}
.promo__slide {
  height: auto;
}
.promo__body {
  min-height: 45.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2.25rem 0;
}
.promo__container {
  width: 100%;
}
.promo__title {
  max-width: 42rem;
}
.promo__subtitle {
  margin-top: 1rem;
  line-height: 150%;
}
.promo__bottom {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 0.0625rem solid rgba(255, 255, 255, 0.16);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 575.98px) {
  .promo__bottom {
    flex-direction: row;
    justify-content: space-between;
  }
}
.promo__btn {
  width: 100%;
}
@media (min-width: 575.98px) {
  .promo__btn {
    width: auto;
  }
}
.promo__controls {
  display: flex;
  gap: 0.25rem;
}
.portfolio {
  padding: 5.5rem 0;
}
@media (min-width: 1023.98px) {
  .portfolio {
    padding: 9rem 0;
  }
}
.portfolio__header {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (min-width: 767.98px) {
  .portfolio__header {
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media (min-width: 1279.98px) {
  .portfolio__header {
    border: 0.0625rem solid #e4e4e4;
  }
}
.portfolio__filters {
  margin: -0.0625rem;
}
@media (max-width: 1279.98px) {
  .portfolio__filters .filter-btn {
    border: 0;
  }
}
@media (min-width: 1279.98px) {
  .portfolio__filters:nth-child(odd) .filter-btn:last-child {
    border-right: 0;
  }
  .portfolio__filters:nth-child(even) .filter-btn:last-child {
    border-left: 0;
  }
}
.portfolio__projects {
  margin-top: 2.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.portfolio__more {
  width: fit-content;
  margin: 2.25rem auto 0;
  display: flex;
}

.project {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 0.0625rem solid #e4e4e4;
  background: #fff;
}
@media (min-width: 767.98px) {
  .project {
    min-height: 37.5rem;
    background: rgba(0, 0, 0, 0.32);
    color: #fff;
    flex-direction: row;
    border: 0;
  }
}
.project__slider {
  min-width: 0;
  max-width: 100%;
  aspect-ratio: 328/268.36;
}
@media (min-width: 767.98px) {
  .project__slider {
    aspect-ratio: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}
.project__slider::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(180deg, rgba(5, 14, 27, 0) 0%, #050e1b 100%);
  z-index: 2;
  pointer-events: none;
}
.project__slide {
  height: auto;
}
.project__body {
  position: relative;
  z-index: 2;
  flex: 1 1 auto;
  min-width: 0;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 0;
}
@media (min-width: 767.98px) {
  .project__body {
    padding: 0.5rem;
  }
}
.project__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.1875rem;
}
.project__tag {
  font-size: 0.875rem;
  line-height: 114.286%;
  padding: 0.375rem 0.5rem;
  background: #fff;
  color: #000;
}
.project__tag--primary {
  background: #115268;
  color: #f4f4f4;
}
.project__tag--sea-mint {
  background: #89c1bd;
  color: #fff;
}
.project__bottom {
  display: none;
}
@media (min-width: 767.98px) {
  .project__bottom {
    margin-top: auto;
    display: flex;
    align-items: flex-end;
    padding: 1.5rem;
    gap: 1rem;
  }
}
.project__thumbs {
  display: none;
}
@media (min-width: 767.98px) {
  .project__thumbs {
    display: flex;
    margin: 0 auto 0 0;
    max-width: 23.5rem;
  }
}
.project__thumb {
  border: 0.0625rem solid #fff;
  opacity: 0.48;
  transition: opacity 0.3s ease;
  cursor: pointer;
  aspect-ratio: 1;
}
.project__thumb.swiper-slide-thumb-active {
  opacity: 1;
}
@media (any-hover: hover) {
  .project__thumb:hover {
    opacity: 1;
  }
}
@media (min-width: 1023.98px) {
  .project__thumb {
    width: 5.625rem;
    height: 5.625rem;
  }
}
.project__controls {
  display: flex;
  gap: 0.255rem;
}
.project__side {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
@media (min-width: 767.98px) {
  .project__side {
    position: relative;
    z-index: 2;
    background: rgba(0, 0, 0, 0.24);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    padding: 1.5rem;
    flex: 0 0 18.75rem;
  }
}
@media (min-width: 1279.98px) {
  .project__side {
    flex: 0 0 23.75rem;
  }
}
.project__desc {
  font-size: 1rem;
  line-height: 150%;
}
.project__btn {
  margin-top: auto;
}
@media (max-width: 767.98px) {
  .project__btn {
    background: #ebebeb;
    color: #04181e;
  }
  .project__btn::before {
    color: #115268;
  }
  .project__btn:hover, .project__btn:active {
    background: #cbdfe7;
  }
}
@media (min-width: 767.98px) {
  .project__btn {
    background: #fff;
    color: #04181e;
  }
  .project__btn::before {
    color: #115268;
  }
  .project__btn:hover, .project__btn:active {
    color: #115268;
  }
}

.prices {
  padding: 5.5rem 0;
  background: #fff;
}
@media (min-width: 1023.98px) {
  .prices {
    padding: 9rem 0;
  }
}
.prices__body {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
}
@media (min-width: 1279.98px) {
  .prices__body {
    flex-direction: row;
  }
}
@media (min-width: 1279.98px) {
  .prices__main {
    flex: 0 0 20rem;
  }
}
@media (min-width: 1399.98px) {
  .prices__main {
    flex: 0 0 33.875rem;
  }
}
.prices__subtitle {
  margin-top: 1.5rem;
  color: #516a72;
  font-size: 1rem;
  line-height: 150%;
}
.prices__cases {
  min-width: 0;
  max-width: 100%;
  overflow: visible;
}
@media (min-width: 1023.98px) {
  .prices__cases {
    overflow: hidden;
  }
}
.prices__case {
  background: #f8f8f8;
  display: flex;
  flex-direction: column;
  padding: 0.3125rem;
}
.prices__case.swiper-slide {
  height: auto;
  min-width: 17.5rem;
  width: calc(50% - 0.5rem);
}
@media (min-width: 767.98px) {
  .prices__case.swiper-slide {
    width: calc(50% - 0.25rem);
    min-width: 23.9375rem;
  }
}
.prices__case-header {
  padding: 1.5rem;
  background: #fff;
}
.prices__case-desc {
  margin-top: 0.5rem;
  color: #516a72;
  line-height: 150%;
  font-size: 0.875rem;
}
@media (min-width: 767.98px) {
  .prices__case-desc {
    font-size: 1rem;
  }
}
.prices__case-value {
  margin-top: 2rem;
  color: #115268;
}
.prices__case-list {
  padding: 1rem 0.75rem 1.5rem;
  flex: 1 1 auto;
  color: #516a72;
  font-size: 0.875rem;
  line-height: 157.143%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
}
@media (min-width: 767.98px) {
  .prices__case-list {
    line-height: 150%;
    font-size: 1rem;
  }
}
.prices__case-list li {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.prices__case-list li::before {
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  color: #89c1bd;
}
.prices__case-btn {
  margin: 0.75rem;
}

@media (min-width: 575.98px) {
  .callback {
    padding: 5.5rem 0;
  }
}
@media (min-width: 1023.98px) {
  .callback {
    padding: 9rem 0;
  }
}
.callback__body {
  background: #04181e;
  color: #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 -1rem;
}
@media (min-width: 575.98px) {
  .callback__body {
    margin: 0;
  }
}
@media (min-width: 1023.98px) {
  .callback__body {
    flex-direction: row;
  }
}
.callback__main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 1.5rem 1rem;
  gap: 1rem;
}
@media (min-width: 575.98px) {
  .callback__main {
    gap: 1.5rem;
    padding: 2.25rem;
  }
}
.callback__subtitle {
  max-width: 31.8125rem;
  line-height: 150%;
}
.callback__form {
  margin-bottom: 0.5rem;
  max-width: 38.875rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 1023.98px) {
  .callback__form {
    margin-bottom: auto;
  }
}
.callback__form .form__btn {
  flex-shrink: 0;
}
.callback__form .form__privacy a {
  color: #fff;
}
.callback__footer {
  border-top: 0.0625rem solid rgba(255, 255, 255, 0.16);
  padding-top: 1.5rem;
}
.callback__footer-title {
  font-size: 1rem;
  line-height: 150%;
}
.callback__footer-body {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.callback__footer-socials {
  display: flex;
  gap: 0.25rem;
}
.callback__footer-social {
  width: 2.25rem;
  height: 2.25rem;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  background: rgba(255, 255, 255, 0.16);
}
.callback__footer-phone {
  transition: color 0.3s ease;
}
@media (any-hover: hover) {
  .callback__footer-phone:hover {
    color: rgba(255, 255, 255, 0.16);
  }
}
.callback__image {
  background-image: url("data:image/svg+xml,%3Csvg width='543' height='543' viewBox='0 0 543 543' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect opacity='0.2' x='542' y='339.375' width='338.376' height='338.374' transform='rotate(180 542 339.375)' stroke='white'/%3E%3Crect opacity='0.2' x='542' y='207.586' width='206.588' height='206.587' transform='rotate(180 542 207.586)' stroke='white'/%3E%3Crect opacity='0.2' x='542' y='79.3613' width='78.3608' height='78.3604' transform='rotate(180 542 79.3613)' stroke='white'/%3E%3Cpath d='M542 129.228H413.773V1.0014H542V129.228Z' stroke='white'/%3E%3Cpath d='M414.333 128.671L1.00004 542' stroke='white'/%3E%3C/svg%3E%0A");
  background-size: cover;
  background-position: 0 center;
  background-repeat: no-repeat;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.24rem;
  border-top: 0.0625rem solid rgba(255, 255, 255, 0.2);
}
@media (min-width: 1023.98px) {
  .callback__image {
    margin: -0.0625rem;
    flex: 0 0 28rem;
    border-left: 0.0625rem solid rgba(255, 255, 255, 0.2);
    border-top: 0;
  }
}
@media (min-width: 1279.98px) {
  .callback__image {
    padding: 4.87rem;
    flex: 0 0 33.8125rem;
  }
}

.about {
  background: #fff;
  padding: 5.5rem 0rem;
}
@media (min-width: 1023.98px) {
  .about {
    padding: 9rem 0rem;
  }
}
.about__header {
  display: flex;
  align-items: flex-start;
  gap: 2.25rem;
  flex-direction: column-reverse;
}
@media (min-width: 1023.98px) {
  .about__header {
    flex-direction: row;
  }
}
.about__image {
  position: relative;
  border: 0.0625rem solid #e4e4e4;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='541' height='542' viewBox='0 0 541 542' fill='none'%3E%3Cpath d='M540 541L274 271M540 1L274 271M1.20401e-05 271H274' stroke='%23E4E4E4'/%3E%3C/svg%3E");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 4.56rem;
  aspect-ratio: 1;
}
@media (min-width: 1279.98px) {
  .about__image img {
    width: 18.75rem;
    height: 18.75rem;
  }
}
.about__image::before {
  content: "";
  position: absolute;
  width: 7.3125rem;
  height: 1.5rem;
  left: 1rem;
  bottom: 1rem;
  background: url("../img/logo.svg") center/contain no-repeat;
}
@media (min-width: 1279.98px) {
  .about__image::before {
    left: 1.5rem;
    bottom: 1.5rem;
  }
}
@media (min-width: 1023.98px) {
  .about__image {
    flex: 0 0 24rem;
  }
}
@media (min-width: 1279.98px) {
  .about__image {
    padding: 7.5rem;
    padding: 7.5rem;
    flex: 0 0 33.75rem;
  }
}
.about__body {
  align-self: stretch;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}
.about__label {
  color: #000;
  background: #ebebeb;
  font-size: 0.875rem;
  line-height: 114.286%;
  padding: 0.38rem;
}
.about__row {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}
@media (min-width: 1023.98px) {
  .about__row {
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
  }
}
.about__tagline {
  line-height: 150%;
}
.about__numbers {
  margin-top: 2.25rem;
  display: flex;
  gap: 2.25rem;
  flex-direction: column;
}
@media (min-width: 1023.98px) {
  .about__numbers {
    flex-direction: row;
  }
}
.about__numbers-block {
  border-top: 0.0625rem solid #e4e4e4;
  border-right: 0.0625rem solid #e4e4e4;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 1.5rem 0rem 0rem;
  flex: 1 1 50%;
}
@media (min-width: 1023.98px) {
  .about__numbers-block:first-child {
    flex: 0 0 24rem;
  }
}
@media (min-width: 1279.98px) {
  .about__numbers-block:first-child {
    flex: 0 0 33.75rem;
  }
}
.about__numbers-value {
  color: #89c1bd;
  font-family: "Steppe";
  line-height: 112.195%;
  font-size: 2.75rem;
  letter-spacing: -0.165rem;
}
@media (min-width: 575.98px) {
  .about__numbers-value {
    letter-spacing: -0.3075rem;
    font-size: 4rem;
  }
}
@media (min-width: 1279.98px) {
  .about__numbers-value {
    font-size: 5.125rem;
  }
}
.about__numbers-text {
  text-align: right;
  color: #516a72;
  font-size: 1rem;
  line-height: 150%;
  max-width: 16rem;
}

.reviews {
  padding: 5.5rem 0;
}
@media (min-width: 1023.98px) {
  .reviews {
    padding: 9rem 0;
  }
}
.reviews__title {
  text-align: center;
}
.reviews__slider {
  margin-top: 2.75rem;
  overflow: visible;
  max-width: 55.625rem;
}
.reviews__controls {
  display: flex;
  gap: 0.25rem;
  justify-content: center;
  margin-top: 2.25rem;
}
@media (min-width: 1023.98px) {
  .reviews__controls {
    margin-top: 2.75rem;
  }
}
.review {
  background: #fff;
  padding: 0.3125rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 767.98px) {
  .review {
    flex-direction: row;
  }
}
.review.swiper-slide {
  height: auto;
  opacity: 0.4;
  transition: opacity 0.8s ease, transform 0.8s ease;
  transform: scale(0.9076923077);
}
.review.swiper-slide.swiper-slide-active {
  pointer-events: all;
  transform: scale(1);
  opacity: 1;
}
.review__body {
  background: #f8f8f8;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1 1 auto;
}
.review__rate {
  display: flex;
  gap: 0.15rem;
  font-size: 0.75rem;
  color: #115268;
}
.review__quote {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
  line-height: 150%;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.review__more {
  color: #115268;
  line-height: 125%;
  text-decoration: underline;
  text-underline-position: from-font;
}
@media (any-hover: hover) {
  .review__more:hover {
    text-decoration: none;
  }
}
.review__gallery {
  margin-top: 1rem;
  display: grid;
  gap: 0.31rem;
  grid-template-columns: repeat(auto-fit, 3rem);
}
@media (min-width: 575.98px) {
  .review__gallery {
    grid-template-columns: repeat(auto-fit, 4rem);
  }
}
@media (min-width: 1023.98px) {
  .review__gallery {
    grid-template-columns: repeat(auto-fit, 6rem);
  }
}
.review__gallery-item {
  aspect-ratio: 1;
  border-radius: 0.25rem;
  border: 0.0625rem solid #fff;
}
.review__gallery-item img {
  border-radius: 0.25rem;
}
.review__side {
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
}
@media (min-width: 767.98px) {
  .review__side {
    flex: 0 0 20rem;
  }
}
.review__thumb {
  width: 4.5rem;
  height: 4.5rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 0.25rem;
}
.review__name {
  margin-top: 0.25rem;
}
.review__date {
  overflow: hidden;
  color: #94a3a8;
  font-size: 1rem;
  line-height: 150%;
}
.review__btn {
  margin-top: auto;
  width: 100%;
}

.contacts {
  background: #fff;
  padding: 5.5rem 0 0rem;
}
.contacts:first-child {
  background: transparent;
  padding: 1.5rem 0 5.5rem;
}
@media (min-width: 1023.98px) {
  .contacts:first-child {
    padding: 1.5rem 0 9rem;
  }
}
@media (min-width: 1023.98px) {
  .contacts {
    padding: 9rem 0 1.5rem;
  }
}
.contacts__body {
  display: grid;
  border: 0.0625rem solid #e4e4e4;
  margin-top: 2.25rem;
}
@media (min-width: 1023.98px) {
  .contacts__body {
    margin-top: 3rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
.contacts__main {
  display: flex;
  flex-direction: column;
}
.contacts__main::after {
  content: "";
  margin-top: auto;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='328' height='98' viewBox='0 0 328 98' fill='none'%3E%3Cpath d='M325.692 97H328L164.698 1V97H164.121H162.967L0 1H328' stroke='%23E4E4E4'/%3E%3C/svg%3E");
  aspect-ratio: 3.3469387755;
}
@media (min-width: 575.98px) {
  .contacts__main::after {
    aspect-ratio: 4.4248366013;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='677' height='153' viewBox='0 0 677 153' fill='none'%3E%3Cpath d='M671.243 153H676L339.439 1V153H338.25H335.871L0 1H676' stroke='%23E4E4E4'/%3E%3C/svg%3E");
  }
}
.contacts__blocks {
  padding: 1rem;
}
@media (min-width: 575.98px) {
  .contacts__blocks {
    padding: 1.5rem;
  }
}
@media (min-width: 1023.98px) {
  .contacts__blocks {
    padding: 2rem;
  }
}
.contacts__block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contacts__block:not(:last-child) {
  margin-bottom: 1.5rem;
}
@media (min-width: 767.98px) {
  .contacts__block:not(:last-child) {
    margin-bottom: 4rem;
  }
}
@media (min-width: 1279.98px) {
  .contacts__block:not(:last-child) {
    margin-bottom: 6rem;
  }
}
.contacts__caption {
  color: #516a72;
  font-size: 1rem;
  line-height: 150%;
  margin-bottom: 1rem;
}
.contacts__address {
  letter-spacing: -0.01em;
}
.contacts__link {
  transition: color 0.3s ease;
}
@media (any-hover: hover) {
  .contacts__link:hover {
    color: #89c1bd;
  }
}
.contacts__link:not(:last-child) {
  margin-bottom: 0.5rem;
}
.contacts__worktime {
  font-size: 0.875rem;
  line-height: 157.143%;
}
@media (min-width: 575.98px) {
  .contacts__worktime {
    font-size: 1rem;
    line-height: 150%;
  }
}
.contacts__map {
  min-height: 25rem;
}
@media (min-width: 767.98px) {
  .contacts__map {
    min-height: 25rem;
  }
}
@media (min-width: 1279.98px) {
  .contacts__map {
    min-height: 35rem;
  }
}
.contacts__map iframe {
  width: 100%;
  height: 100%;
}
.contacts__footer {
  display: grid;
  align-items: start;
  gap: 2.25rem;
  margin-top: 2.25rem;
}
@media (min-width: 1023.98px) {
  .contacts__footer {
    margin-top: 3rem;
    gap: 3rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
.contacts__reqs {
  padding: 2.25rem 0 0.5rem;
}
.contacts__reqs-list {
  margin-top: 2.25rem;
}
.contacts__reqs-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  line-height: 150%;
  padding-bottom: 1rem;
  border-bottom: 0.0625rem solid #e4e4e4;
}
.contacts__reqs-item:not(:last-child) {
  margin-bottom: 1rem;
}
.contacts__reqs-name {
  color: #516a72;
  hyphens: auto;
}
@media (min-width: 1023.98px) {
  .contacts__reqs-name {
    hyphens: none;
  }
}
.contacts__reqs-value {
  text-align: right;
  letter-spacing: -0.01em;
  hyphens: auto;
}
@media (min-width: 1023.98px) {
  .contacts__reqs-value {
    hyphens: none;
  }
}
.contacts__form {
  background: #fff;
  padding: 1rem;
}
@media (min-width: 575.98px) {
  .contacts__form {
    padding: 1.5rem;
  }
}
@media (min-width: 1023.98px) {
  .contacts__form {
    padding: 2.25rem;
  }
}
.contacts__form-subtitle {
  margin-top: 1.5rem;
  line-height: 150%;
  color: #516a72;
}
.contacts__form-fields {
  margin-top: 2.25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.blog {
  padding: 1.5rem 0 5.5rem;
}
@media (min-width: 1023.98px) {
  .blog {
    padding: 1.5rem 0 9rem;
  }
}
.blog__subtitle {
  margin-top: 1.5rem;
  line-height: 150%;
}
.blog__filters {
  margin-top: 1.5rem;
}
.blog__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20.375rem, 1fr));
  gap: 1.5rem;
  column-gap: 1rem;
  margin-top: 2.25rem;
}
@media (min-width: 575.98px) {
  .blog__list {
    margin-top: 3rem;
  }
}
.blog__item {
  display: flex;
  flex-direction: column;
  border: 0.0625rem solid #e4e4e4;
}
.blog__item.swiper-slide {
  height: auto;
}
.blog__item-body {
  flex: 1 1 auto;
  padding: 1.5rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.blog__item-image {
  aspect-ratio: 1.4090896831;
  display: block;
  position: relative;
  overflow: hidden;
  margin: -0.0625rem -0.0625rem 0;
}
.blog__item-image img {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
}
@media (any-hover: hover) {
  .blog__item-image:hover img {
    transform: scale(1.05);
  }
}
.blog__item-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}
.blog__item-category {
  color: #115268;
  background: #ebebeb;
  padding: 0.375rem 0.5rem;
  font-size: 0.875rem;
  line-height: 114.286%;
}
.blog__item-name {
  transition: color 0.3s ease;
  font-size: 1rem;
  line-height: 150%;
}
@media (any-hover: hover) {
  .blog__item-name:hover {
    color: #89c1bd;
  }
}
.blog__item-desc {
  overflow: hidden;
  color: #516a72;
  text-overflow: ellipsis;
  font-size: 1rem;
  line-height: 150%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.blog__item-stats {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.blog__item-stat {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #94a3a8;
  font-size: 0.875rem;
  line-height: 114.286%;
}
.blog__item-stat::before {
  display: flex;
  width: 1rem;
  height: 1rem;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: #115268;
}
.blog__btn {
  margin-top: 1.5rem;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.blog__slider {
  margin-top: 2.25rem;
}
@media (min-width: 575.98px) {
  .blog__slider {
    margin-top: 2.75rem;
  }
}
.blog__controls {
  display: none;
}
@media (min-width: 575.98px) {
  .blog__controls {
    margin-top: 2.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
  }
}
.article {
  padding: 1.5rem 0 3.75rem;
}
@media (min-width: 1023.98px) {
  .article {
    padding: 1.5rem 0 7.5rem;
  }
}
.article__wrapper {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 2.25rem;
  flex-direction: column;
}
@media (min-width: 1023.98px) {
  .article__wrapper {
    flex-direction: row;
  }
}
.article__back {
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  line-height: 125%;
}
@media (min-width: 1399.98px) {
  .article__back {
    position: absolute;
    top: 0;
    left: 0;
  }
}
.article__back::before {
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #115268;
}
.article__content {
  max-width: 55.625rem;
  margin: 0 auto;
}
.article__info {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.article__category {
  color: #fff;
  background: #89c1bd;
  padding: 0.375rem 0.5rem;
  font-size: 0.875rem;
  line-height: 114.286%;
}
.article__time, .article__views {
  color: #04181e;
  font-size: 0.875rem;
  line-height: 114.286%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.article__time::before, .article__views::before {
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
  color: #115268;
}
.article__poster {
  margin-top: 1.5rem;
}
.article__poster img {
  width: 100%;
}
.article__navigation {
  margin-top: 1.5rem;
  border: 0.0625rem solid #e4e4e4;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.article__navigation-list {
  color: #516a72;
  font-size: 1rem;
  line-height: 150%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.article__navigation-link {
  transition: color 0.3s ease;
}
@media (any-hover: hover) {
  .article__navigation-link:hover {
    color: #115268;
  }
}
.article__body {
  margin-top: 1.5rem;
  line-height: 150%;
}
.article__body h1 {
  font-family: "Steppe";
  font-size: 2.75rem;
  line-height: 118.182%;
  letter-spacing: -0.165rem;
}
.article__body h1:not(:first-child) {
  margin-top: 3rem;
}
.article__body h2 {
  font-family: "Steppe";
  font-size: 2.25rem;
  line-height: 122.222%;
  letter-spacing: -0.135rem;
}
.article__body h2:not(:first-child) {
  margin-top: 3rem;
}
.article__body h3 {
  font-family: "Steppe";
  font-size: 2rem;
  line-height: 125%;
  letter-spacing: -0.12rem;
}
.article__body h3:not(:first-child) {
  margin-top: 3rem;
}
.article__body h4 {
  font-family: "Steppe";
  font-size: 1.625rem;
  line-height: 123.077%;
  letter-spacing: -0.0975rem;
}
.article__body h4:not(:first-child) {
  margin-top: 3rem;
}
.article__body h5 {
  line-height: 140%;
  font-size: 1.25rem;
}
.article__body h5:not(:first-child) {
  margin-top: 3rem;
}
.article__body p.subtitle:not(:first-child) {
  margin-top: 1.5rem;
}
.article__body p.subtitle:not(:last-child) {
  margin-bottom: 1.5rem;
}
.article__body p:not(:first-child) {
  margin-top: 1rem;
}
.article__body p + ul {
  margin-top: 0;
}
.article__body ul:not(:first-child) {
  margin-top: 1.5rem;
}
.article__body ul li {
  position: relative;
  padding-left: 2rem;
  color: #516a72;
}
.article__body ul li::before {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: 0.55rem;
  width: 0.25rem;
  height: 0.25rem;
  background: #115268;
  border-radius: 50%;
}
.article__body ul li:not(:last-child) {
  margin-bottom: 1rem;
}
.article__body ul li p:not(:first-child) {
  margin-top: 0.25rem;
}
.article__body ol:not(:first-child) {
  margin-top: 1.5rem;
}
.article__body ol li {
  position: relative;
  padding-left: 2rem;
  color: #516a72;
  counter-increment: num;
}
.article__body ol li:nth-child(1)::before {
  content: "0" counter(num);
}
.article__body ol li:nth-child(2)::before {
  content: "0" counter(num);
}
.article__body ol li:nth-child(3)::before {
  content: "0" counter(num);
}
.article__body ol li:nth-child(4)::before {
  content: "0" counter(num);
}
.article__body ol li:nth-child(5)::before {
  content: "0" counter(num);
}
.article__body ol li:nth-child(6)::before {
  content: "0" counter(num);
}
.article__body ol li:nth-child(7)::before {
  content: "0" counter(num);
}
.article__body ol li:nth-child(8)::before {
  content: "0" counter(num);
}
.article__body ol li:nth-child(9)::before {
  content: "0" counter(num);
}
.article__body ol li::before {
  content: counter(num);
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5rem;
  color: #516a72;
}
.article__body ol li:not(:last-child) {
  margin-bottom: 1rem;
}
.article__body ol li p:not(:first-child) {
  margin-top: 0.25rem;
}
.article__body img {
  width: 100%;
}
.article__body > img:not(:first-child) {
  margin-top: 1.5rem;
}
.article__body figure:not(:first-child) {
  margin-top: 1.5rem;
}
.article__body figure img:not(:first-child) {
  margin-top: 0rem;
}
.article__body figure figcaption {
  margin-top: 0.47rem;
  color: #516a72;
  font-size: 0.875rem;
  line-height: 114.286%;
}
.article__body blockquote {
  padding-left: 1.5rem;
  border-left: 0.125rem solid rgba(164, 172, 185, 0.16);
}
.article__body blockquote:not(:first-child) {
  margin-top: 2.25rem;
}
.article__body cite {
  display: block;
  font-style: normal;
  padding-left: 1.5rem;
  border-left: 0.125rem solid #ff0048;
}
.article__body cite:not(:first-child) {
  margin-top: 3rem;
}
.article__body cite.blue-border {
  border-left: 0.125rem solid #2b5cff;
}
.article__body cite.green-border {
  border-left: 0.125rem solid #22cc6b;
}
.article__body .author:not(:first-child) {
  margin-top: 1.5rem;
}

.author {
  display: flex;
  align-items: center;
  line-height: 150%;
  gap: 0.5rem;
}
.author__thumb {
  width: 4rem;
  height: 4rem;
  flex-shrink: 0;
}
.author__thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.25rem;
}
.author__desc {
  margin-top: 0.25rem;
  color: #516a72;
}