@font-face {
  font-family: "Steppe";
  font-display: swap;
  src: url("../fonts/Steppe-Regular.woff2") format("woff2"), url("../fonts/Steppe-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "AeonikPro";
  font-display: swap;
  src: url("../fonts/AeonikPro-Regular.woff2") format("woff2"), url("../fonts/AeonikPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.swiper-button-next,
.swiper-button-prev,
.form__checkbox-input:checked + .form__checkbox-text::before,
.breadcrumbs__item:not(:last-child)::before,
[class^=icon-]:before,
[class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: never;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=icon-]:before,
[class*=" icon-"]:before {
  display: block;
}

.icon-check-mark:before,
.form__checkbox-input:checked + .form__checkbox-text:before {
  content: "\e900";
}

.icon-chevron-down:before {
  content: "\e901";
}

.icon-chevron-left:before,
.swiper-button-prev:before {
  content: "\e902";
}

.icon-chevron-right:before,
.swiper-button-next:before,
.breadcrumbs__item:not(:last-child):before {
  content: "\e903";
}

.icon-chevron-up:before {
  content: "\e904";
}

.icon-cross:before {
  content: "\e905";
}

.icon-date:before {
  content: "\e906";
}

.icon-emblem-down:before {
  content: "\e907";
}

.icon-emblem-right:before {
  content: "\e908";
}

.icon-emblem-up:before {
  content: "\e909";
}

.icon-featrures-furniture:before {
  content: "\e90a";
}

.icon-features-3d:before {
  content: "\e90b";
}

.icon-features-calendar:before {
  content: "\e90c";
}

.icon-features-check:before {
  content: "\e90d";
}

.icon-features-deal:before {
  content: "\e90e";
}

.icon-features-planning:before {
  content: "\e90f";
}

.icon-features-shield:before {
  content: "\e910";
}

.icon-features-team:before {
  content: "\e911";
}

.icon-minus:before {
  content: "\e913";
}

.icon-phone:before {
  content: "\e914";
}

.icon-pin:before {
  content: "\e915";
}

.icon-plus:before {
  content: "\e916";
}

.icon-social-tg:before {
  content: "\e917";
}

.icon-viber:before {
  content: "\e918";
}

.icon-views:before {
  content: "\e919";
}

.icon-whatsapp:before {
  content: "\e91a";
}

/* Title (44) */

.title {
  font-family: "Steppe";
  font-size: 2.75rem;
  line-height: 118.182%;
  letter-spacing: -0.165rem;
}

/* Display (48) */

.title-lg {
  font-family: "Steppe";
  font-size: 3rem;
  line-height: 116.667%;
  letter-spacing: -0.18rem;
}

/* Subtitle (26) */

.title-sm {
  font-family: "Steppe";
  font-size: 1.625rem;
  line-height: 123.077%;
  letter-spacing: -0.0975rem;
}

.fancybox__container {
  max-width: 100% !important;
  padding: 0 !important;
}

.fancybox__slide {
  padding: 0;
}

.fancybox__backdrop {
  background: rgba(30, 30, 30, 0.4);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
}

.fancybox__content {
  color: inherit;
  background: none;
  padding: 0;
}

.fancybox__content :focus:not(.carousel__button.is-close) {
  outline: none;
}

.popup {
  position: relative;
  display: none;
  width: 100%;
  max-width: 41.875rem;
  background: #fff;
  color: #04181e;
  border-radius: 0.75rem;
  padding: 1.875rem 0.625rem;
}

.popup__close {
  position: absolute;
  top: 0.63rem;
  right: 0.63rem;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  color: #04181e;
}

.popup__title {
  text-align: center;
}

.popup__subtitle {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
}

.popup__form {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.range__caption {
  position: relative;
  z-index: 1;
}

.range__input {
  -webkit-appearance: none;
  background-color: transparent;
  padding: 0;
  width: 100%;
  opacity: 1;
}

.range__input::-webkit-slider-thumb {
  position: relative;
  z-index: 1;
  -webkit-appearance: none;
  border-radius: 50%;
  cursor: pointer;
  width: 1.875rem;
  height: 1.875rem;
  background: #4d894a;
  border: 0rem solid rgba(64, 111, 61, 0.3);
  margin-top: -0.6875rem;
  -webkit-box-shadow: inset 0 0 0 0.5625rem #fff, 0 0 0 0.1875rem rgba(64, 111, 61, 0.3);
          box-shadow: inset 0 0 0 0.5625rem #fff, 0 0 0 0.1875rem rgba(64, 111, 61, 0.3);
}

.range__input::-moz-range-thumb {
  position: relative;
  z-index: 1;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  box-shadow: inset 0 0 0 0.5625rem #fff, 0 0 0 0.1875rem rgba(64, 111, 61, 0.3);
  width: 1.875rem;
  height: 1.875rem;
  background: #4d894a;
  border: 0rem solid rgba(64, 111, 61, 0.3);
}

.range__input::-ms-thumb {
  position: relative;
  z-index: 1;
  display: inline-block;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  box-shadow: inset 0 0 0 0.5625rem #fff, 0 0 0 0.1875rem rgba(64, 111, 61, 0.3);
  width: 1.875rem;
  height: 1.875rem;
  background: #4d894a;
  border: 0rem solid rgba(64, 111, 61, 0.3);
  margin-top: 5px;
}

.range__input::-webkit-slider-runnable-track {
  border-color: transparent;
  color: transparent;
  height: 9px;
  background: #e0e0e0;
  border-radius: 0.625rem;
  border-radius: 10;
}

.range__input::-moz-range-track {
  height: 9px;
  background: #e0e0e0;
  border-radius: 0.625rem;
  border-radius: 10;
}

.range__input::-ms-track {
  border-color: transparent;
  color: transparent;
  height: 9px;
  background: #e0e0e0;
  border-radius: 0.625rem;
  border-radius: 10;
}

.range__input::-ms-fill-lower {
  background: #406f3d;
  border-radius: 10;
}

.range__input::-moz-range-progress {
  background: #406f3d;
  height: 0.5625rem;
  border: 0;
  border-radius: 0.625rem;
}

.range__input::-ms-tooltip {
  display: none;
}

.range__input:disabled {
  cursor: default;
  pointer-events: none;
}

.range__input::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 0.5625rem;
  width: var(--precent, 0%);
  border-radius: 0.625rem 0 0 0.625rem;
  background: #406f3d;
}

.range__list {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #9299b5;
  font-size: 1.11794rem;
  font-weight: 400;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 2.12rem;
}

.breadcrumbs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4b4b4b;
  font-size: 1.125rem;
  line-height: 140%;
}

.breadcrumbs__item:not(:last-child)::before {
  margin: 0 0.5rem;
  font-size: 0.25rem;
  color: currentColor;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.breadcrumbs__link {
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.breadcrumbs__link.active {
  pointer-events: none;
}

.color-accent {
  color: #115268;
}

.fw-medium {
  font-weight: 500;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #115268;
  border-radius: 0.5rem;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.cover-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form__row {
  display: -ms-grid;
  display: grid;
  gap: 1.25rem;
}

.form__bottom {
  margin-top: 1.31rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.81rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__bottom .form__btn {
  min-height: 3.625rem;
  min-width: 15.5rem;
}

.form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.75rem;
}

.form__label {
  line-height: 140%;
  font-size: 0.75rem;
}

.form__privacy {
  margin-top: 1.5rem;
  font-size: 1rem;
  line-height: 140%;
}

.form__privacy a {
  color: #87cf83;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.form__control {
  text-overflow: ellipsis;
  -webkit-transition: border-color 0.3s ease 0s, color 0.3s ease 0s;
  transition: border-color 0.3s ease 0s, color 0.3s ease 0s;
  width: 100%;
  color: #04181e;
  text-align: center;
  font-size: 1rem;
  font-weight: 450;
  line-height: 137.5%;
  border-radius: 0.375rem;
  padding: 0.9375em;
  min-height: 3.625rem;
  border: 0.0625rem solid rgba(27, 43, 69, 0.31);
}

.form__control::-webkit-input-placeholder {
  opacity: 1;
  color: #575757;
}

.form__control::-moz-placeholder {
  opacity: 1;
  color: #575757;
}

.form__control:-ms-input-placeholder {
  opacity: 1;
  color: #575757;
}

.form__control::-ms-input-placeholder {
  opacity: 1;
  color: #575757;
}

.form__control::placeholder {
  opacity: 1;
  color: #575757;
}

.form__control:hover,
.form__control:focus {
  border-color: #115268;
}

.form__control:focus::-webkit-input-placeholder {
  opacity: 0;
}

.form__control:focus::-moz-placeholder {
  opacity: 0;
}

.form__control:focus:-ms-input-placeholder {
  opacity: 0;
}

.form__control:focus::-ms-input-placeholder {
  opacity: 0;
}

.form__control:focus::placeholder {
  opacity: 0;
}

.form__control:disabled {
  background: #ddd;
  border-color: #ddd;
}

.form__control._error {
  outline: 1px solid #ba2028;
  background: #fff1ed;
}

.form__control:is(textarea) {
  height: 7.4375rem;
  resize: none;
}

.form__checkbox {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.form__checkbox-input.error + .form__checkbox-text::before {
  border: 0.0625rem solid red;
}

.form__checkbox-text {
  position: relative;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1rem;
  line-height: 150%;
  padding: 0 0 0 2.5em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.form__checkbox-text::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.0625rem solid #04181e;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.1875rem;
  color: #115268;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__checkbox-text a {
  text-decoration: underline;
  white-space: nowrap;
}

.form__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}

.form__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__social {
  width: 3rem;
  height: 3rem;
  font-size: 1.25rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.form__social.icon-whatsapp {
  background: #0dc143;
}

.form__social.icon-telegram {
  background: #419fd9;
}

.form__btn {
  white-space: nowrap;
}

.form__btn.btn {
  padding-inline: 1rem;
}

.form__file-btn {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
  font-family: "AeonikPro";
  font-weight: 450;
  line-height: 137.5%;
  gap: 0.5rem;
  border-radius: 0.625rem;
  padding: 0.7rem 2.44rem;
  min-height: 3.625rem;
  font-size: 1rem;
  border: 0.0625rem solid #fff;
  color: #fff;
  cursor: pointer;
}

.form__file-btn::before {
  font-size: 2rem;
}

.btn {
  cursor: pointer;
  position: relative;
  z-index: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
  font-size: 1rem;
  line-height: 125%;
  padding: 1rem 1.5rem;
}

.btn::before {
  width: 1.25rem;
  height: 1.25rem;
  font-size: 1.25rem;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.btn:focus-visible {
  -webkit-box-shadow: 0 0 0.0625rem 0.0625rem #04181e;
          box-shadow: 0 0 0.0625rem 0.0625rem #04181e;
}

.btn.btn-primary {
  background: #115268;
  color: #fff;
}

.btn.btn-primary:hover,
.btn.btn-primary:active {
  background: #157291;
}

.btn.btn-secondary {
  background: #ebebeb;
  color: #04181e;
}

.btn.btn-secondary::before {
  color: #115268;
}

.btn.btn-secondary:hover,
.btn.btn-secondary:active {
  background: #cbdfe7;
}

.btn.btn-tertiary {
  background: #fff;
  color: #04181e;
}

.btn.btn-tertiary::before {
  color: #115268;
}

.btn.btn-tertiary:hover,
.btn.btn-tertiary:active {
  color: #115268;
}

.btn.btn-sm {
  padding: 0.75rem 1.5rem;
}

.btn.btn-fullwidth {
  width: 100%;
  padding-inline: 1rem;
}

.btn:disabled,
.btn[aria-disabled=true] {
  background: #ebebeb;
  color: #94a3a8;
}

.btn:disabled::before,
.btn[aria-disabled=true]::before {
  color: #115268;
}

.iti__selected-flag {
  background-color: rgba(0, 0, 0, 0.05);
}

.select {
  position: relative;
}

.select select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border: 0.0625rem solid #115268;
  border-radius: 0.375rem;
  color: #04181e;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  display: block;
  font-size: 1rem;
  font-weight: 500;
  height: 100%;
  outline: none;
  padding: 1em 2.3125em 1em 1.4375em;
  width: 100%;
}

body {
  font-family: "AeonikPro", sans-serif;
  font-size: 1rem;
  min-width: 20rem;
  min-height: 100%;
  line-height: normal;
  color: #04181e;
  background-color: #f8f8f8;
  margin-right: 0 !important;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: clip;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=__container] {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 1rem;
}

.swiper-button-next,
.swiper-button-prev {
  position: relative;
  left: auto;
  right: auto;
  bottom: auto;
  top: auto;
  margin: 0;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  -webkit-transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
  z-index: 2;
  width: 3.25rem;
  height: 3.25rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.16);
  color: #f8f8f8;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-next:disabled,
.swiper-button-next.swiper-button-disabled,
.swiper-button-next[aria-disabled=true],
.swiper-button-prev:disabled,
.swiper-button-prev.swiper-button-disabled,
.swiper-button-prev[aria-disabled=true] {
  pointer-events: none;
  opacity: 0.4;
}

.swiper-button-next.swiper-button-lock,
.swiper-button-prev.swiper-button-lock {
  display: none;
}

.swiper-button-next::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
  opacity: 0.32;
  background: #fff;
  -webkit-transform: scale3d(0, 1, 1);
          transform: scale3d(0, 1, 1);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  will-change: transform;
  z-index: -1;
  display: block;
}

.swiper-button-next.counting::after {
  -webkit-animation: countingBar var(--counting-speed, 8.8s) linear forwards;
          animation: countingBar var(--counting-speed, 8.8s) linear forwards;
}

@-webkit-keyframes countingBar {
  0% {
    -webkit-transform: scale3d(0, 1, 1);
            transform: scale3d(0, 1, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes countingBar {
  0% {
    -webkit-transform: scale3d(0, 1, 1);
            transform: scale3d(0, 1, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.header {
  background: #fff;
  padding: 1rem 0;
}

.header__container {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.header__logo {
  width: 7.3125rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.header__location {
  margin-left: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  color: #516a72;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.header__location::before {
  width: 1.25rem;
  height: 1.25rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 1.25rem;
  color: #89c1bd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__phone {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: auto;
}

.header__phone::before {
  display: none;
}

.header__btn {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.menu {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  padding: 10rem 1rem 2rem;
}

.header.open-menu .menu {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.menu__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item.menu-parent {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__item.menu-parent .menu__link {
  padding-right: 2.75rem;
  margin-right: -1.5rem;
}

.menu__link {
  display: inline-block;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  padding: 0.75rem 1.5rem;
  line-height: 125%;
}

.menu__link.active {
  color: #115268;
}

.menu__link.active + .menu__arrow {
  color: #115268;
}

.menu__arrow {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: currentColor;
  width: 1.25rem;
  height: 1.25rem;
  font-size: 1.25rem;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.menu__arrow::before {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.menu__arrow.active::before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu__callback {
  margin-top: 2rem;
}

.icon-menu {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  z-index: 11;
  height: 3.125rem;
  color: #115268;
  min-width: 3.125rem;
  border-radius: 0.3125rem;
  padding: 0.75rem;
  background: rgba(214, 223, 106, 0.5);
}

.icon-menu span {
  display: block;
  padding: 0.1875rem 0rem;
  width: 100%;
  -webkit-transition: opacity 0.4s ease 0.4s, -webkit-transform 0.4s ease 0.4s;
  transition: opacity 0.4s ease 0.4s, -webkit-transform 0.4s ease 0.4s;
  transition: transform 0.4s ease 0.4s, opacity 0.4s ease 0.4s;
  transition: transform 0.4s ease 0.4s, opacity 0.4s ease 0.4s, -webkit-transform 0.4s ease 0.4s;
  will-change: transform;
}

.icon-menu span::before {
  content: "";
  display: block;
  height: 0.125rem;
  width: 100%;
  margin-left: auto;
  background: currentColor;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  will-change: transform;
}

.header.open-menu .icon-menu span {
  -webkit-transition: opacity 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  transition: opacity 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
  transition: transform 0.3s ease 0s, opacity 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.header.open-menu .icon-menu span::before {
  -webkit-transition: width 0.3s ease 0s, -webkit-transform 0.45s ease 0.35s;
  transition: width 0.3s ease 0s, -webkit-transform 0.45s ease 0.35s;
  transition: transform 0.45s ease 0.35s, width 0.3s ease 0s;
  transition: transform 0.45s ease 0.35s, width 0.3s ease 0s, -webkit-transform 0.45s ease 0.35s;
  width: 90%;
}

.header.open-menu .icon-menu span:first-child {
  -webkit-transform: translateY(0.5rem);
      -ms-transform: translateY(0.5rem);
          transform: translateY(0.5rem);
}

.header.open-menu .icon-menu span:first-child::before {
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.header.open-menu .icon-menu span:nth-child(2) {
  opacity: 0;
}

.header.open-menu .icon-menu span:nth-child(3) {
  -webkit-transform: translateY(-0.5rem);
      -ms-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.header.open-menu .icon-menu span:nth-child(3)::before {
  -webkit-transform: rotate(-225deg);
      -ms-transform: rotate(-225deg);
          transform: rotate(-225deg);
}

.footer {
  background: #f9fae9;
  padding: 3.88rem 0;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 1.5rem;
  margin: 0 -0.625rem;
}

.footer__main {
  padding: 0rem 0.625rem;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.footer__subtitle {
  margin-top: 1.59rem;
  color: #000;
  font-size: 1rem;
  font-weight: 300;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.footer__menu-column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 0rem 0.625rem;
}

.footer__menu-caption {
  font-size: 1.375rem;
  font-weight: 500;
}

.footer__menu-list {
  margin-top: 1.875rem;
  font-size: 1rem;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.19rem;
}

.footer__menu-list a {
  -webkit-transition: color 0.1s ease;
  transition: color 0.1s ease;
}

.footer__contacts {
  padding: 0rem 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.19rem;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.footer__phone {
  white-space: nowrap;
  font-size: 1.625rem;
  font-weight: 600;
  line-height: 123.077%;
}

.footer__phone span {
  color: #4d8a4a;
}

.footer__worktime {
  color: #000;
  font-size: 1rem;
  font-weight: 300;
  line-height: 140%;
}

.footer__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  gap: 0.56rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 140%;
}

.footer__email::before {
  font-size: 1.1875rem;
  color: #f97c4e;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.625rem;
}

.footer__social {
  width: 3.3125rem;
  height: 3.3125rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f97c4e;
  border: 0.0625rem solid;
  border-radius: 50%;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.footer__social.icon-whatsapp-fill {
  font-size: 1.75rem;
}

.footer__social.icon-telegram {
  font-size: 1.5rem;
}

.footer__privacy {
  color: #f97c4e;
  font-size: 1rem;
  font-weight: 300;
}

.footer__bottom {
  margin-top: 2.19rem;
  padding-top: 2.319rem;
  border-top: 0.125rem solid #e8e8e8;
}

.footer__bottom-text {
  display: -ms-grid;
  display: grid;
  gap: 1.25rem;
  color: #787878;
  font-size: 0.875rem;
  font-weight: 300;
}

.footer__bottom-copy {
  margin-top: 1.25rem;
  color: #2d2d2d;
  font-size: 1rem;
  font-weight: 300;
}

.promo {
  position: relative;
  color: #fff;
  background: rgba(0, 0, 0, 0.32);
  z-index: 1;
}

.promo__slider {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.promo__slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.32);
  z-index: 2;
}

.promo__slide {
  height: auto;
}

.promo__body {
  min-height: 45.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 2.25rem 0;
}

.promo__container {
  width: 100%;
}

.promo__title {
  max-width: 42rem;
}

.promo__subtitle {
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 140%;
}

.promo__bottom {
  margin-top: 2rem;
  padding-top: 3.5rem;
  border-top: 0.0625rem solid rgba(255, 255, 255, 0.16);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.25rem;
}

.portfolio {
  padding: 9rem 0;
}

.portfolio__header {
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0.0625rem solid #e4e4e4;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio__filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio__filter-input:checked + .portfolio__filter-btn {
  background: #ebebeb;
  color: #157291;
}

.portfolio__filter-btn:hover,
.portfolio__filter-btn:active {
  background: #ebebeb;
  color: #157291;
}

.portfolio__projects {
  margin-top: 2.25rem;
}

.project {
  min-height: 37.5rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  background: rgba(0, 0, 0, 0.32);
}

.project__slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.project__slider::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(5, 14, 27, 0)), to(#050e1b));
  background: linear-gradient(180deg, rgba(5, 14, 27, 0) 0%, #050e1b 100%);
  z-index: 2;
}

.project__slide {
  height: auto;
}

.project__body {
  position: relative;
  z-index: 2;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0.5rem;
  min-width: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.1875rem;
}

.project__tag {
  font-size: 0.875rem;
  line-height: 114.286%;
  padding: 0.375rem 0.5rem;
  background: #fff;
  color: #000;
}

.project__tag--primary {
  background: #115268;
  color: #f4f4f4;
}

.project__tag--sea-mint {
  background: #89c1bd;
  color: #fff;
}

.project__bottom {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 1.5rem;
}

.project__thumb {
  width: 5.625rem;
  height: 5.625rem;
}

.project__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.255rem;
}

.project__side {
  position: relative;
  z-index: 2;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 23.75rem;
          flex: 0 0 23.75rem;
  background: rgba(0, 0, 0, 0.24);
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.project__desc {
  font-size: 1rem;
  line-height: 150%;
}

.project__btn {
  margin-top: auto;
}

@media (min-width: 575.98px) {
  .fancybox__slide {
    padding: 1.25rem;
  }

  [class*=__container] {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    max-width: 33.75rem;
  }

  .menu {
    padding: 8rem 1rem 2rem;
  }

  .icon-menu span {
    padding: 0.28125rem 0rem;
  }

  .header.open-menu .icon-menu span:first-child {
    -webkit-transform: translateY(0.71875rem);
        -ms-transform: translateY(0.71875rem);
            transform: translateY(0.71875rem);
  }

  .header.open-menu .icon-menu span:nth-child(3) {
    -webkit-transform: translateY(-0.71875rem);
        -ms-transform: translateY(-0.71875rem);
            transform: translateY(-0.71875rem);
  }

  .footer__main {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .footer__contacts {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (min-width: 767.98px) {
  .popup {
    padding: 1.875rem 2.5rem;
  }

  [class*=__container] {
    max-width: 45rem;
  }

  .footer__bottom-text {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 991.98px) {
  .form__row {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }

  .form__bottom {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .form__control:is(textarea) {
    text-align: left;
  }

  [class*=__container] {
    max-width: 60rem;
  }

  .header.open-menu .menu {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .menu {
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    padding: 0;
    -webkit-transition: none;
    transition: none;
    overflow-x: visible;
    overflow-y: visible;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin-left: 2rem;
  }

  .menu__list {
    gap: 0.5rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .menu__link {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .menu__callback {
    margin-top: 0;
    margin-left: 2rem;
  }

  .icon-menu {
    display: none;
  }

  .footer__main {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }

  .footer__menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .footer__contacts {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

@media (any-hover: hover) and (min-width: 991.98px) {
  .menu__item.menu-parent:hover .submenu {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@media (min-width: 1279.98px) {
  [class*=__container] {
    max-width: 71.25rem;
  }

  .menu__callback {
    margin-left: 5.69rem;
  }
}

@media (min-width: 1399.98px) {
  .form__label {
    font-size: 0.875rem;
  }

  [class*=__container] {
    max-width: 84.5rem;
  }

  .menu__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 1rem;
  }
}

@media (max-width: 991.98px) {
  body:has(.header.open-menu) {
    overflow: hidden;
  }

  .menu__body {
    max-width: 45rem;
    width: 100%;
    margin: 0 auto;
  }
}

@media (any-hover: hover) {
  .popup__close:hover {
    color: #115268;
  }

  .breadcrumbs__link:hover {
    color: #115268;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #0a2f3c;
  }

  .form__privacy a:hover {
    color: #63c15e;
  }

  .form__checkbox-text a:hover {
    text-decoration: none;
  }

  .form__social.icon-whatsapp:hover {
    background-color: #0a9132;
  }

  .form__social.icon-telegram:hover {
    background-color: #2786c1;
  }

  .form__file-btn:hover {
    background: #fff;
    color: #000;
  }

  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    background: rgba(255, 255, 255, 0.36);
  }

  .menu__item.menu-parent:hover {
    color: #115268;
  }

  .menu__item.menu-parent:hover .menu__arrow::before {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  .menu__link:hover {
    color: #115268;
  }

  .footer__menu-list a:hover {
    text-decoration: underline;
    color: #f97c4e;
  }

  .footer__social:hover {
    background-color: #f97c4e;
    color: #fff;
    border-color: #f97c4e;
  }

  .footer__privacy:hover {
    text-decoration: underline;
  }
}