body {
	font-family: $fontfamily, sans-serif;
	font-size: 1rem;
	min-width: rem($minWidth);
	min-height: 100%;
	line-height: normal;
	color: $text;
	background-color: #fff;
	margin-right: 0 !important;
	&:has(.header.open-menu) {
		@media (max-width: $md3) {
			overflow: hidden;
		}
	}
}

// ================== ОБОЛОЧКА ==============================

.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow-x: clip;
}

.page {
	flex: 1 1 auto;
	// overflow: hidden;
}

// ================== ОБОЛОЧКА ===============================

// ================== LAYOUT =================================

[class*="__container"] {
	margin: 0 auto;
	max-width: 100%;
	padding: 0 rem(19);
	@media (min-width: $md5) {
		box-sizing: content-box;
		max-width: rem(540);
	}
	@media (min-width: $md4) {
		max-width: rem(720);
	}
	@media (min-width: $md3) {
		max-width: rem(960);
	}
	@media (min-width: $md2) {
		max-width: rem(1140);
	}
	@media (min-width: $md1) {
		max-width: $maxWidthContainer;
	}
}

//=============== LAYOUT ===============================

.feedback {
	position: relative;
	z-index: 2;
	background: linear-gradient(180deg, #72bb6e 0%, #466b44 100%);
	box-shadow: $shadow;
	color: #fff;

	// .feedback__container
	&__container {
	}
	// .feedback__body
	&__body {
		display: flex;
		margin: 0 rem(-10);
	}
	// .feedback__main
	&__main {
		padding: 2.75rem rem(10);
		flex: 0 0 100%;
		@media (min-width: $md5) {
			flex: 0 0 66.66666%;
		}
	}
	// .feedback__title
	&__title {
	}
	// .feedback__subtitle
	&__subtitle {
		margin-top: 0.75rem;
		font-size: 1rem;
		line-height: 140%;
		max-width: 30rem;
	}
	// .feedback__form
	&__form {
		margin-top: 2.31rem;
	}
	// .feedback__image
	&__image {
		display: none;
		@media (min-width: $md5) {
			margin-top: -7.81rem;
			margin-bottom: 0;
			flex: 0 0 33.3333%;
			padding: 0 rem(10);
			display: flex;
			align-items: flex-end;
		}
		&.feedback__image--large {
			@media (min-width: $md3) {
				flex: 0 0 40%;
				margin-left: rem(-20);
			}
		}
	}
}

.faq {
	border-radius: 1.25rem;
	background: #fffff8;
	padding: 2.5rem 0 3.06rem;
	// .faq__container
	&__container {
	}
	// .faq__title
	&__title {
		max-width: 27.3125rem;
	}
	// .faq__subtitle
	&__subtitle {
		margin-top: 1.69rem;
		color: #606060;
		font-size: 1rem;
	}
	// .faq__body
	&__body {
		margin-top: 2rem;
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		row-gap: 1.5rem;
		@media (min-width: $md4) {
			flex-direction: row;
		}
	}
	// .faq__spollers
	&__spollers {
		@media (min-width: $md4) {
			flex: 1 1 auto;
			padding: rem(0) rem(10);
		}
	}
	// .faq__spollers-item
	&__spollers-item {
		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}
	// .faq__spollers-btn
	&__spollers-btn {
		border-radius: em(0.625, 1.375);
		background: linear-gradient(180deg, #649c61 0%, #466b44 100%);
		color: #fff;
		width: 100%;
		text-align: left;
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: #fff;
		font-weight: 600;
		padding: em(1.5, 1.375);
		@media (min-width: $md3) {
			font-size: 1.375rem;
		}
		&._active {
			&::before {
				transform: rotate(180deg);
			}
		}
		&::before {
			font-size: em(1, 1.375);
			order: 1;
			transition: transform 0.3s ease 0s;
		}
	}
	// .faq__spollers-text
	&__spollers-text {
		margin-top: 0.94rem;
		color: #0f0f0f;
		border-radius: 0.625rem;
		background: #fff;
		box-shadow: rem(4) rem(4) rem(120) 0 rgba(0, 0, 0, 0.1);
		padding: 1.5rem 2rem;
		@media (min-width: $md3) {
			font-size: 1.125rem;
			padding: 3.12rem 2.19rem;
		}
	}
	// .faq__side
	&__side {
		width: 100%;
		@media (min-width: $md4) {
			position: sticky;
			top: rem(16);
			padding: rem(0) rem(10);
			flex: 0 0 rem(305);
		}
	}
	// .faq__side-block
	&__side-block {
		padding: 3.31rem 3rem 3.31rem 1.75rem;
		border-radius: 0.625rem;
		background: url("@img/woman-answer.png") 100% center / 12rem auto no-repeat, #fff;
		box-shadow: $shadow;
	}
	// .faq__side-title
	&__side-title {
		font-size: 1.3125rem;
		font-weight: 500;
	}
	// .faq__side-subtitle
	&__side-subtitle {
		margin-top: 1.19rem;
		color: #373737;
		font-size: 1rem;
		line-height: 140%;
	}
	// .faq__side-btn
	&__side-btn {
		margin-top: 2rem;
	}
}

.contacts {
	padding: 4.75rem 0;
	&:first-child {
		padding-top: 1.5rem;
	}
	// .contacts__container
	&__container {
	}
	// .contacts__body
	&__body {
		display: grid;
		align-items: center;
		gap: rem(20);
		.contacts__map {
			margin-top: 0;
		}
		&:not(:first-child) {
			margin-top: 2.56rem;
		}
		&:has(.contacts__form) {
			align-items: stretch;
		}
		@media (min-width: $md4) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	// .contacts__form
	&__form {
		border-radius: 1.25rem;
		background: #f9fae9;
		align-self: stretch;
		display: flex;
		flex-direction: column;
		justify-content: center;
		.form__privacy {
			max-width: rem(400);
		}
		padding: 2rem 1.5rem;
		@media (min-width: $md4) {
			padding: 3.25rem 2.56rem;
		}
	}
	// .contacts__form-title
	&__form-title {
	}
	// .contacts__form-row
	&__form-row {
		margin-top: 2.25rem;
		display: grid;
		gap: 1.44rem;
		@media (min-width: $md3) {
			grid-template-columns: repeat(2, 1fr);
			& .form__control:last-child {
				grid-column: span 2;
			}
		}
	}
	&__form-btn {
		margin-top: rem(28);
		min-height: rem(44);
		@media (max-width: $md4) {
			width: 100%;
		}
		@media (min-width: $md5) {
			min-width: rem(284);
		}
	}
	// .contacts__column
	&__column {
		box-shadow: $shadow;
		border-radius: 1.25rem;
		padding: 2.25rem 2.63rem;
	}
	// .contacts__image
	&__image {
		max-width: 18.625rem;
		max-height: rem(161);
		display: block;
		border-radius: 0.625rem;
		overflow: hidden;
	}
	// .contacts__map
	&__map {
		border-radius: 1.25rem;
		overflow: hidden;
		position: relative;
		z-index: 1;
		height: 29.125rem;
		margin-top: 3.87rem;
		& iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	// .contacts__main
	&__main {
		@media (min-width: $md4) {
			padding-left: 3rem;
		}
		@media (min-width: $md1) {
			padding-left: 6rem;
		}
	}
	// .contacts__title
	&__title {
		@media (min-width: $md4) {
			font-size: 2.375rem;
		}
	}
	// .contacts__list
	&__list {
		margin-top: 2rem;
	}
	// .contacts__item
	&__item {
		display: flex;
		align-items: center;
		gap: 1.31rem;
		font-size: 1.125rem;
		&::before {
			font-size: 1.625rem;
			display: flex;
			align-items: center;
			color: #f97c4e;
		}
		&.icon-envelope-fill {
			&::before {
				font-size: 1.0625rem;
			}
		}
		&:not(:last-child) {
			margin-bottom: 2rem;
		}
	}
	// .contacts__phone
	&__phone {
		font-size: 1.375rem;
		font-weight: 600;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
	// .contacts__email
	&__email {
		text-decoration-line: underline;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: none;
			}
		}
	}
	// .contacts__socials
	&__socials {
		margin-top: 2rem;
		display: flex;
		align-items: center;
		gap: 0.25rem;
	}
	// .contacts__socials-text
	&__socials-text {
		font-size: 1.125rem;
	}
	// .contacts__socials-items
	&__socials-items {
		display: flex;
		gap: 0.56rem;
	}
	// .contacts__socials-item
	&__socials-item {
		width: 2.875rem;
		height: 2.875rem;
		flex-shrink: 0;
		background: rgba(15, 184, 0, 0.1);
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		font-size: 1.5rem;
		&.icon-whatsapp-fill {
			color: #0fb800;
		}
		&.icon-telegram-fill {
			color: #72b2fe;
		}
	}
	// .contacts__btn
	&__btn {
		margin-top: 1.12rem;
	}
}

.swiper-button-next,
.swiper-button-prev {
	&::after {
		display: none;
	}
	transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
	z-index: 2;
	width: 2.875rem;
	height: 2.875rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #406f3d;
	color: $white;
	box-shadow: 0 0 rem(9) rgba(0, 0, 0, 0.06);
	&:disabled,
	&.swiper-button-disabled,
	&[aria-disabled="true"] {
		pointer-events: none;
		opacity: 0.4;
	}
	&.swiper-button-lock {
		display: none;
	}

	@media (any-hover: hover) {
		&:hover {
			background: $white;
			color: $accent;
		}
	}
}

.swiper-button-prev {
	@extend %ic, .icon-prev;
	right: calc(100% - 2rem);
	left: auto;
	@media (min-width: $md5) {
		left: auto;
		right: calc(100% - 1.5rem);
	}
	@media (min-width: $md2) {
		right: calc(100% + 1.19rem);
	}
}
.swiper-button-next {
	@extend %ic, .icon-next;
	left: calc(100% - 2rem);
	right: auto;
	@media (min-width: $md5) {
		right: auto;
		left: calc(100% - 1.5rem);
	}
	@media (min-width: $md2) {
		left: calc(100% + 1.19rem);
	}
}

.swiper-pagination {
	margin-top: 2rem;
	position: static;
	bottom: auto;

	display: flex;
	justify-content: center;
	&.swiper-pagination-lock {
		margin-top: 0;
	}
	.swiper-pagination-bullet {
		position: relative;
		width: 0.75rem;
		height: 0.75rem;
		--swiper-pagination-bullet-horizontal-gap: #{rem(6)};
		background: #d9d9d9;
		opacity: 1;
		transition: all 0.3s ease 0s;
		&.swiper-pagination-bullet-active {
			background: $accent;
		}
	}
}
