%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	speak: never;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"],
[class*=" icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}

.icon-star:before {
	content: "\e912";
}
.icon-check-mark:before {
	content: "\e900";
}
.icon-chevron-down:before {
	content: "\e901";
}
.icon-chevron-left:before {
	content: "\e902";
}
.icon-chevron-right:before {
	content: "\e903";
}
.icon-chevron-up:before {
	content: "\e904";
}
.icon-cross:before {
	content: "\e905";
}
.icon-date:before {
	content: "\e906";
}
.icon-emblem-down:before {
	content: "\e907";
}
.icon-emblem-right:before {
	content: "\e908";
}
.icon-emblem-up:before {
	content: "\e909";
}
.icon-featrures-furniture:before {
	content: "\e90a";
}
.icon-features-3d:before {
	content: "\e90b";
}
.icon-features-calendar:before {
	content: "\e90c";
}
.icon-features-check:before {
	content: "\e90d";
}
.icon-features-deal:before {
	content: "\e90e";
}
.icon-features-planning:before {
	content: "\e90f";
}
.icon-features-shield:before {
	content: "\e910";
}
.icon-features-team:before {
	content: "\e911";
}
.icon-minus:before {
	content: "\e913";
}
.icon-phone:before {
	content: "\e914";
}
.icon-pin:before {
	content: "\e915";
}
.icon-plus:before {
	content: "\e916";
}
.icon-telegram:before {
	content: "\e917";
}
.icon-viber:before {
	content: "\e918";
}
.icon-views:before {
	content: "\e919";
}
.icon-whatsapp:before {
	content: "\e91a";
}
