// Использование модулей SASS
@use "sass:math";
// Использование модулей SASS
// ======================================МИКСИНЫ==============================================
@import "mixins";
// ======================================МИКСИНЫ==============================================

// ======================================ШРИФТЫ===============================================
@import "fonts";
@import "icons";
// ======================================ШРИФТЫ===============================================

// Шрифт по умолчанию
$fontfamily: "SuisseIntl";

// Шрифт по умолчанию

$md0: 1599.98px;
$md1: 1419.98px;
$md2: 1279.98px;
$md3: 991.98px;
$md4: 767.98px;
$md5: 575.98px;
$md6: 389.98px;

// ПЕРЕМЕННЫЕ

$minWidth: 320; // Минимальная ширина страницы
$maxWidth: 1920; // Ширина макета
$maxWidthContainer: rem(1280); // Максимальная ширина ограничивающего контейнера
$containerPadding: 30;

// ЦВЕТА

$white: #fff;
$text: #111827;
$accent: #4d8a4a;

$green: #01ce22;
$red: #fa0644;

$shadow: rem(4) rem(4) rem(100) rgba(66, 114, 63, 0.15);

// Z-Index

$ui-index-1: 1; // Для наполняющих элементов в общем потоке
$ui-index-2: 2; // Для наполняющих элементов в общем потоке
$ui-index-3: 3; // Для масок
$ui-index-4: 4; // Для сайдбаров
$ui-index-5: 5; // Для модалок
$ui-index-6: 6; // Для элементов, перекрывающих все

// ОБЩИЕ ПАРАМЕТРЫ

// @import "grid";
@import "ui";
@import "forms";
@import "common";
@import "header";
@import "footer";

//=======================================

// СТИЛИ СТРАНИЦ

@import "pages/home";
@import "pages/about";
@import "pages/reviews";
@import "pages/purchase";
@import "pages/pledge";
