/* Display (48) */
@mixin title-xl {
	font-family: $font-steppe;
	line-height: 116.667%;
	letter-spacing: -0.18rem;
	font-size: 3rem;
}

/* Title (44) */
@mixin title {
	font-family: $font-steppe;
	font-size: 2.75rem;
	line-height: 118.182%;
	letter-spacing: -0.165rem;
}

/* Title (36) */
@mixin title-lg {
	font-family: $font-steppe;
	font-size: 2.25rem;
	line-height: 122.222%;
	letter-spacing: -0.135rem;
}

/* Title (32) */
@mixin title-md {
	font-family: $font-steppe;
	font-size: 2rem;
	line-height: 125%;
	letter-spacing: -0.12rem;
}

/* Subtitle (26) */
@mixin title-sm {
	font-family: $font-steppe;
	font-size: 1.625rem;
	line-height: 123.077%;
	letter-spacing: -0.0975rem;
}

/* Subtitle (20) */
@mixin subtitle {
	line-height: 140%;
	font-size: 1.25rem;
}

.title-xl {
	@include title-xl;
}

.title {
	@include title;
}

.title-lg {
	@include title-lg;
}

.title-md {
	@include title-md;
}

.title-sm {
	@include title-sm;
}

.subtitle {
	@include subtitle;
}

.title-xl-desktop {
	@media (min-width: $md3) {
		@include title-xl;
	}
}

.title-desktop {
	@media (min-width: $md3) {
		@include title;
	}
}

.title-md-desktop {
	@media (min-width: $md3) {
		@include title-md;
	}
}
.title-lg-desktop {
	@media (min-width: $md3) {
		@include title-lg;
	}
}
.title-sm-desktop {
	@media (min-width: $md3) {
		@include title-sm;
	}
}

.subtitle-desktop {
	@media (min-width: $md3) {
		@include subtitle;
	}
}

.color-primary {
	color: $text-primary-black;
}

.text-center {
	text-align: center;
}

//============ МОДУЛИ ====================
@import "modules/popup";
@import "modules/range";
@import "modules/breadcrumbs";
@import "modules/star-rating";

//============ МОДУЛИ ====================

.color-accent {
	color: $brand-deep-tide;
}

.fw-medium {
	font-weight: 500;
}

// .fw-bold {
// 	font-weight: 700;
// }

// .text-center {
// 	text-align: center;
// }

// .text-center-mobile {
// 	@media (max-width: $md4) {
// 		text-align: center;
// 	}
// }

// .rate-label {
// 	border-radius: 0.375rem;
// 	background: $grey;
// 	color: $white;
// 	display: inline-flex;
// 	align-items: center;
// 	gap: 0.25rem;
// 	padding: 0.25rem 0.375rem;
// 	font-size: 0.875rem;
// 	line-height: 100%;
// 	&::before {
// 		color: $orange;
// 	}
// }

// .favorite-btn {
// 	width: rem(40);
// 	height: rem(40);
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	font-size: 1.5rem;
// 	background: #f3f6fa;
// 	border-radius: 50%;
// 	flex-shrink: 0;
// 	&::before {
// 		@extend %ic, .icon-heart;
// 		transition: all 0.3s ease 0s;
// 	}
// 	&.active {
// 		&::before {
// 			@extend %ic, .icon-heart-fill;
// 			color: #82a6ca;
// 			animation: pulse 0.3s ease-in-out;
// 			@keyframes pulse {
// 				0% {
// 					transform: scale(1);
// 				}
// 				50% {
// 					transform: scale(1.4);
// 				}
// 				100% {
// 					transform: scale(1);
// 				}
// 			}
// 		}
// 	}
// }

// .uppercase-mobile {
// 	@media (max-width: $md4) {
// 		text-transform: uppercase;
// 	}
// }

// .desktop-only {
// 	@media (max-width: $md2) {
// 		display: none;
// 	}
// }

// .mobile-only {
// 	@media (min-width: $md4) {
// 		display: none;
// 	}
// }

// .tablet-only {
// 	@media (min-width: $md2) {
// 		display: none;
// 	}
// }

// .pagination {
// 	display: flex;
// 	justify-content: center;
// 	gap: 0.63rem;
// 	// .pagination__btn
// 	&__btn {
// 		line-height: 1.6;
// 		font-size: 1rem;
// 		color: #fff;
// 		@media (min-width: $md4) {
// 			font-size: 1.125rem;
// 			padding: 0.75rem 0.88rem;
// 		}
// 		&:first-child {
// 			@media (min-width: $md4) {
// 				margin-right: 1.87rem;
// 			}
// 			display: flex;
// 			justify-content: center;
// 			align-items: center;
// 			&::before {
// 				@extend %ic, .icon-chevron;

// 				transform: rotate(180deg);
// 			}
// 		}
// 		&:last-child {
// 			display: flex;
// 			justify-content: center;
// 			align-items: center;
// 			@media (min-width: $md4) {
// 				margin-left: 1.87rem;
// 			}
// 			&::before {
// 				@extend %ic, .icon-chevron;
// 			}
// 		}
// 		transition: color 0.3s ease 0s;
// 		color: #fff;
// 		@media (min-width: $md4) {
// 			color: #9aa2a9;
// 		}
// 		@media (any-hover: hover) {
// 			&:hover {
// 				color: #fff;
// 			}
// 		}
// 		&::before {
// 			@media (min-width: $md4) {
// 				display: none;
// 			}
// 		}
// 		& span {
// 			display: none;
// 			font-size: 1rem;
// 			@media (min-width: $md4) {
// 				display: block;
// 			}
// 		}
// 		&[aria-disabled="true"] {
// 			pointer-events: none;
// 			color: #9aa2a9;
// 		}
// 	}
// 	// .pagination__item
// 	&__item {
// 		justify-content: center;
// 		align-items: center;
// 		display: none;
// 		width: 2.5rem;
// 		height: 2.5rem;
// 		font-size: 0.66575rem;
// 		@media (min-width: $md4) {
// 			width: 2.875rem;
// 			height: 2.875rem;
// 			font-size: 0.875rem;
// 			display: flex;
// 		}
// 		@media (min-width: $md2) {
// 			font-size: 1rem;
// 			width: 3.5rem;
// 			height: 3.5rem;
// 		}
// 		flex-shrink: 0;

// 		border-radius: 50%;
// 		border: 1px solid rgba($color: #fff, $alpha: 0.3);
// 		color: #fff;
// 		&[href] {
// 			transition: border-color 0.3s ease 0s, background-color 0.3s ease 0s, color 0.3s ease 0s;
// 			@media (any-hover: hover) {
// 				&:hover {
// 					border-color: #fff;
// 					background: #fff;
// 					color: $dark;
// 				}
// 			}
// 		}
// 		&.active {
// 			border-color: #fff;
// 			background: #fff;
// 			color: $dark;
// 			display: flex;
// 			& + * {
// 				display: flex;
// 				& + * {
// 					display: flex;
// 				}
// 			}
// 			& ~ :nth-last-child(2),
// 			& ~ :nth-last-child(3) {
// 				display: flex;
// 			}
// 		}
// 	}
// }

// ._loading {
// 	color: transparent;
// 	&::after {
// 		content: "";
// 		position: absolute;
// 		top: 50%;
// 		left: 50%;
// 		transform: translate(-50%, -50%);
// 		width: 20px;
// 		height: 20px;
// 		border: 3px solid #fff;
// 		border-bottom-color: transparent;
// 		border-radius: 50%;
// 		transform-origin: center;
// 		animation: rotation 1s linear infinite;
// 		z-index: 3;
// 	}
// }

// @keyframes rotation {
// 	0% {
// 		transform: translate(-50%, -50%) rotate(0deg);
// 	}
// 	100% {
// 		transform: translate(-50%, -50%) rotate(360deg);
// 	}
// }

//============ ОБЩИЕ ЭЛЕМЕНТЫ ============

// Стилизация селекта
// $selectBg: $orange;
// $selectColor: $dark;

// ::-moz-selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	box-shadow: none;
// }
// ::selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	-webkit-box-shadow: none;
// 	box-shadow: none;
// }
// ::-moz-selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	box-shadow: none;
// }

// Стилизация скролла

$scrollbarColor: $brand-deep-tide;

::-webkit-scrollbar {
	width: rem(8);
}
::-webkit-scrollbar-track {
	background: #fff;
}
::-webkit-scrollbar-thumb {
	background: $scrollbarColor;
	border-radius: rem(8);
	@media (any-hover: hover) {
		&:hover {
			background: darken($color: $brand-deep-tide, $amount: 10);
		}
	}
}

//============ ОБЩИЕ ЭЛЕМЕНТЫ ============

// ========== ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ ======
.hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.cover-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

// ========== ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ ======
